/*table*/
.vxe-table {
  position: relative;
  color: #606266;
  border-right: 1px solid $vxe-table-border-color;
  border-left: 1px solid $vxe-table-border-color;
  font-size: 14px;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $vxe-table-border-color;
  }
  *, :after, :before {
    box-sizing: border-box
  }
  &.t--animat {
    .vxe-checkbox,
    .vxe-radio {
      > input {
        &:checked+span {
          transition: background-color .1s ease-in-out;
        }
      }
    }
    .vxe-sort-wrapper {
      .vxe-sort--asc-icon,
      .vxe-sort--desc-icon {
        &:before {
          transition: border .2s ease-in-out;
        }
      }
    }
  }
  table {
    border-spacing: 0;
    border-collapse: separate;
  }
  .vxe-table-hidden-column {
    display: none;
  }
  .vxe-table--header-wrapper,
  .vxe-table--fixed-left-header-wrapper,
  .vxe-table--fixed-right-header-wrapper {
    position: relative;
    overflow: hidden;
    border-top: 1px solid $vxe-table-border-color;
    .vxe-table--repair {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      background-color: $vxe-table-border-color;
    }
  }
  .vxe-header-row {
    background-color: $vxe-table-header-background-color;
  }
  .vxe-table--body-wrapper,
  .vxe-table--fixed-left-body-wrapper,
  .vxe-table--fixed-right-body-wrapper {
    overflow: auto;
  }
  .vxe-body--row {
    background: $vxe-table-background-color;
    &.row--hover {
      background-color: $vxe-table-row-hover-background-color;
    }
    &.row--selected {
      background-color: $vxe-table-row-selected-background-color;
    }
    .vxe-body--column {
      border-bottom: 1px solid $vxe-table-border-color;
    }
  }
  &.t--highlight {
    .vxe-body--row {
      &:hover {
        background-color: $vxe-table-row-hover-background-color;
      }
    }
  }
  &.t--stripe {
    .vxe-body--row {
      &:nth-child(2n) {
        background: $vxe-table-row-striped-background-color;
      }
    }
  }
  .vxe-header-column,
  .vxe-body--column {
    padding: 12px 0;
    line-height: 23px;
    text-align: left;
    &.col--center {
      text-align: center;
    }
    &.col--right {
      text-align: right;
    }
  }
  &.t--border {
    .vxe-header-column,
    .vxe-body--column {
      border-right: 1px solid $vxe-table-border-color;
    }
    .vxe-header-column {
      border-bottom: 1px solid $vxe-table-border-color;
    }
  }
  &.t--size-medium {
    .vxe-header-column,
    .vxe-body--column {
      padding: 10px 0;
    }
  }
  &.t--size-small {
    font-size: 12px;
    .vxe-header-column,
    .vxe-body--column {
      padding: 8px 0;
    }
  }
  &.t--size-mini {
    font-size: 12px;
    .vxe-header-column,
    .vxe-body--column {
      padding: 6px 0;
    }
  }
  .vxe-cell {
    white-space: normal;
    word-break: break-all;
    padding: 0 10px;
    &.c--ellipsis,
    &.c--title,
    &.c--tooltip {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .fixed-hidden {
    visibility: hidden;
  }
  .vxe-table--fixed-left-wrapper,
  .vxe-table--fixed-right-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    overflow: hidden;
  }
  .vxe-table--fixed-left-wrapper {
    left: 0;
    width: 200px;
    &.scrolling--middle {
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12);
    }
  }
  .vxe-table--fixed-right-wrapper {
    right: 0;
    &.scrolling--middle {
      box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.12);
    }
  }
  .vxe-table--fixed-left-header-wrapper,
  .vxe-table--fixed-right-header-wrapper,
  .vxe-table--fixed-left-body-wrapper,
  .vxe-table--fixed-right-body-wrapper {
    position: absolute;
    top: 0;
    overflow-x: hidden;
  }
  .vxe-table--fixed-left-header-wrapper,
  .vxe-table--fixed-left-body-wrapper {
    left: 0;
  }
  .vxe-table--fixed-right-header-wrapper,
  .vxe-table--fixed-right-body-wrapper {
    right: 0;
    overflow-y: auto;
  }

  /*排序*/
  .vxe-sort-wrapper {
    padding: 0 2px;
    vertical-align: middle;
    display: inline-block;
    .vxe-sort--asc-icon,
    .vxe-sort--desc-icon {
      position: relative;
      display: block;
      width: 18px;
      height: 12px;
      cursor: pointer;
      &:before {
        content: "";
        left: 4px;
        position: absolute;
        border: 5px solid transparent;
      }
    }
    .vxe-sort--asc-icon {
      &:before {
        top: 0;
        border-bottom-color: $vxe-table-column-icon-border-color;
      }
      &:hover {
        &:before {
          border-bottom-color: $vxe-table-column-icon-border-hover-color;
        }
      }
      &.sort--active {
        &:before {
          border-bottom-color: $vxe-primary-color;
        }
      }
    }
    .vxe-sort--desc-icon {
      &:before {
        bottom: 2px;
        border-top-color: $vxe-table-column-icon-border-color;
      }
      &:hover {
        &:before {
          border-top-color: $vxe-table-column-icon-border-hover-color;
        }
      }
      &.sort--active {
        &:before {
          border-top-color: $vxe-primary-color;
        }
      }
    }
  }

  /*筛选*/
  .vxe-filter-wrapper {
    padding: 0 2px;
    vertical-align: middle;
    display: inline-block;
    .vxe-filter--icon {
      position: relative;
      display: block;
      width: 18px;
      height: 18px;
      cursor: pointer;
      &:before,
      &:after {
        content: "";
        position: absolute;
      }
      &:before {
        top: 3px;
        left: 3px;
        border: 6px solid transparent;
        border-top-color: $vxe-table-column-icon-border-color;
      }
      &:after {
        left: 8px;
        top: 6px;
        width: 2px;
        height: 8px;
        background-color: $vxe-table-column-icon-border-color;
      }
      &:hover {
        &:before {
          border-top-color: $vxe-table-column-icon-border-hover-color;
        }
        &:after {
          background-color: $vxe-table-column-icon-border-hover-color;
        }
      }
    }
  }
}

.vxe-checkbox,
.vxe-radio {
  display: inline-block;
  cursor: pointer;
  > input {
    display: none;
    &+span {
      position: relative;
      display: block;
      width: 14px;
      height: 14px;
      border: 1px solid $vxe-input-border-color;
      background-color: #fff;
      &:before {
        content: "";
        position: absolute;
        box-sizing: content-box;
        border: 1px solid #fff;
      }
    }
    &:checked+span {
      background-color: $vxe-primary-color;
      border-color: $vxe-primary-color;
    }
  }
}

/*checkbox*/
.vxe-checkbox {
  > input {
    &+span {
      border-radius: 2px;
      &:before {
        border: 1px solid #fff;
        border-left: 0;
        border-top: 0;
        height: 7px;
        width: 3px;
        left: 4px;
        top: 1px;
        transform: rotate(45deg);
      }
    }
  }
}

/*radio*/
.vxe-radio {
  > input {
    &+span {
      border-radius: 50%;
      &:before {
        background-color: #fff;
        border-radius: 50%;
        height: 4px;
        width: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
}