/*font-family*/
$vxe-font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
$vxe-font-color: #606266;

/*primary color*/
$vxe-primary-color: #409eff;
$vxe-disabled-color: #B1B1B1;

/*input/radio/checkbox color*/
$vxe-input-border-color: #dcdfe6;

/*popup*/
$vxe-table-popup-border-color: #ebeef5;

/*table color*/
$vxe-table-header-background-color: #f8f8f9;
$vxe-table-border-color: #e8eaec;
$vxe-table-background-color: #ffffff;

/*table row*/
$vxe-table-row-striped-background-color: #fafafa;
$vxe-table-row-hover-background-color: #f5f7fa;
$vxe-table-row-selected-background-color: #ecf5ff;

/*table column*/
$vxe-table-column-icon-border-color: #c0c4cc;
$vxe-table-column-icon-border-hover-color: #515A6E;

/*loading*/
$vxe-loading-background-color: rgba(0, 0, 0, 0.6);

/*excel*/
$vxe-excel-font-color: #333;
$vxe-excel-header-background-color: #E6E6E6;
$vxe-excel-header-selected-background-color: #D2D2D2;
$vxe-excel-column-height: 24px;
$vxe-excel-column-border-width: 2px;
$vxe-excel-column-border-color: #D4D4D4;
$vxe-excel-primary-color: #217346;