/*primary color*/
$xe-primary-color: #409eff;
$xe-primary-background-color: #409eff;

/*input color*/
$xe-input-border-color: #dcdfe6;

/*table color*/
$xe-table-header-background-color: #f8f8f9;
$xe-table-border-color: #e8eaec;
$xe-table-background-color: #fff;
$xe-table-striped-background-color: #fafafa;
$xe-table-row-hover-background-color: #f5f7fa;
$xe-table-row-selected-background-color: #ecf5ff;