.vxe-table {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  // 滚动条的轨道
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  // 滚动条滑块
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    cursor: pointer;
  }
}

// 默认模式
[data-vxe-ui-theme="light"] {
  .vxe-table {
    // 滚动条的交汇处
    ::-webkit-scrollbar-corner {
      background-color: #FFFFFF;
    }
    ::-webkit-scrollbar-thumb {
      background-color: rgba(51, 51, 51, 0.3);
    }
    ::-webkit-scrollbar-thumb:hover,
    ::-webkit-scrollbar-thumb:active {
      background-color: rgba(51, 51, 51, 0.5);
    }
  }
}

/** 暗黑模式 */
[data-vxe-ui-theme="dark"] {
  .vxe-table {
    ::-webkit-scrollbar-corner {
      background-color: #FFFFFF;
    }
    ::-webkit-scrollbar-thumb {
      background-color: rgba(204, 204, 204, 0.3);
    }
    ::-webkit-scrollbar-thumb:hover,
    ::-webkit-scrollbar-thumb:active {
      background-color: rgba(204, 204, 204, 0.5);
    }
  }
}