body {
  color: #000;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
  * {
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  .link {
    color: #409eff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    margin: 14px 0;
    font-size: 14px;
  }
}
.red {
  color: red;
}

.page-header {
  max-width: 1400px;
  min-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: 1px solid #dcdfe6;
  &:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
  }
  .logo {
    float: left;
    width: 30px;
    height: 30px;
    margin: 12px 4px 0 0;
    border-radius: 50%;
  }
  .title {
    font-size: 22px;
    padding: 10px 0;
    a {
      color: #409eff;
      text-decoration: none;
      cursor: pointer;
    }
    float: left;
  }
  .right {
    float: right;
    text-align: right;
    margin: 5px 0;
  }
  .langs {
    margin-bottom: 5px;
  }
  .version-switch {
    margin-left: 20px;
  }
  .desc {
    font-size: 14px;
    color: #333;
  }
}
.page-container {
  display: flex;
  max-width: 1400px;
  min-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #dcdfe6;
  > .aside {
    width: 220px;
    flex-shrink: 0;
    user-select: none;
    padding: 15px 0 25px 0;
    border-right: 1px solid #dcdfe6;
    overflow: hidden;
    .nav-menu {
      font-size: 16px;
      color: #333;
      text-decoration: none;
      font-weight: 700;
      .nav-link {
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .nav-child-menu {
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 400;
      > li {
        padding-left: 15px;
      }
      .nav-link {
        display: block;
        height: 30px;
        line-height: 30px;
        &.router-link-active,
        &:hover {
          color: #409eff;
        }
        &.router-link-active {
          border-right: 3px solid #409eff;
        }
        &.disabled {
          color: #c0c4cc;
          cursor: not-allowed;
        }
      }
    }
    .nav-link {
      color: #444;
      cursor: pointer;
      text-decoration: none;
    }
  }
  > .body {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    padding: 15px 0 25px 25px;
    .tosrc {
      position: absolute;
      top: 15px;
      right: 80px;
      font-size: 16px;
    }
    .todemo {
      position: absolute;
      top: 15px;
      right: 0;
      font-size: 16px;
    }
  }
}
.page-footer {
  padding: 14px 0;
  font-size: 12px;
  color: #333;
  text-align: center;
}

.btn {
  outline: 0;
  margin: 0 10px 10px 0;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  background-color: #fff;
  cursor: pointer;
  &:active {
    border-color: #3a8ee6;
  }
}

.demo-code {
  cursor: pointer;
  color: #409eff;
  font-weight: bold;
  text-align: center;
  user-select: none;
  &:before {
    content: ">> ";
  }
  &+pre {
    display: none;
    &.is-show {
      display: block;
    }
  }
}

.search-input {
  width: 300px;
}

.keyword-lighten {
  color: #000;
  background-color: #FFFF00;
}
