body {
  color: #000;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
  * {
    box-sizing: border-box;
  }
  ul {
    list-style: none;
  }
  .link {
    color: #409eff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    margin: 14px 0;
    font-size: 14px;
  }
}
.red {
  color: red;
}
.green {
  color: green;
}
.orange {
  color: orange;
}
html,
body,
#app {
  height: 100%;
  overflow: hidden;
}
#app {
  display: flex;
  flex-direction: column;
}
.content {
  h2 {
    margin: 30px 0 0.8em;
    padding-bottom: 0.7em;
    border-bottom: 1px solid #ddd;
  }
  p {
    &.tip {
      border-left: 4px solid #409eff;
      padding: 12px 24px 12px 30px;
      margin: 2em 0;
      background-color: #f8f8f8;
    }
  }
}

.page-header {
  flex-shrink: 0;
  min-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #dcdfe6;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.12);
  display: flex;
  &:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
  }
  .logo {
    float: left;
    width: 30px;
    height: 30px;
    margin: 12px 4px 0 0;
    border-radius: 50%;
  }
  .title {
    margin-right: 10px;
  }
  .left {
    font-size: 22px;
    padding: 5px 0;
    a {
      color: #409eff;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .right {
    display: flex;
    flex-grow: 1;
    align-items: center;
    text-align: right;
    & > .content {
      width: 100%;
      text-align: right;
    }
  }
  .performance {
    margin-right: 15px;
  }
  .locale-switch,
  .version-switch {
    margin-left: 10px;
    margin-right: 15px;
  }
  .donation {
    font-size: 15px;
    font-weight: 700;
    color: green;
  }
  .desc {
    font-size: 14px;
    color: #333;
  }
}
.page-container {
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid #dcdfe6;
  overflow: hidden;
  > .aside {
    width: 300px;
    flex-shrink: 0;
    user-select: none;
    padding: 15px 0 25px 20px;
    border-right: 1px solid #dcdfe6;
    overflow-y: scroll;
    overflow-x: hidden;
    .nav-menu {
      color: #333;
      text-decoration: none;
      font-size: 17px;
      .nav-link {
        display: block;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &.active {
          font-weight: 700;
        }
      }
      .expand {
        .nav-link-icon {
          transform: rotate(135deg);
        }
      }
      .nav-link-icon {
        margin-right: 5px;
        transition: transform 0.2s ease-in-out;
      }
    }
    .nav-child-menu {
      font-size: 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 400;
      > li {
        padding-left: 22px;
      }
      .nav-link {
        display: block;
        height: 30px;
        line-height: 30px;
        &.router-link-active,
        &:hover {
          color: #409eff;
        }
        &.router-link-active {
          font-weight: 700;
        }
        &.disabled {
          color: #c0c4cc;
          cursor: not-allowed;
        }
      }
    }
    .nav-link {
      color: #444;
      cursor: pointer;
      text-decoration: none;
    }
  }
  > .body {
    position: relative;
    flex-grow: 1;
    overflow: auto;
    padding: 15px 0 25px 0;
    & > .content {
      position: relative;
      margin: 0 auto;
      padding: 0 25px 0 25px;
      &:not(.full) {
        max-width: 1200px;
        min-width: 800px;
      }
    }
    .full {
      .tosrc,
      .todemo {
        display: none;
      }
    }
    .todemo {
      position: absolute;
      top: -30px;
      right: 120px;
      font-size: 16px;
    }
    .tosrc {
      position: absolute;
      top: -30px;
      right: 30px;
      font-size: 16px;
    }
  }
}

.btn {
  outline: 0;
  margin: 0 10px 10px 0;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  color: #606266;
  background-color: #fff;
  cursor: pointer;
  &:active {
    border-color: #3a8ee6;
  }
}

.demo-code {
  cursor: pointer;
  font-size: 15px;
  color: #409eff;
  font-weight: bold;
  text-align: center;
  user-select: none;
  &:before {
    content: ">> ";
  }
  &:hover {
    text-decoration: underline;
  }
  &+pre {
    display: none;
    &.is-show {
      display: block;
    }
  }
}

.search-input {
  width: 300px;
}

.keyword-lighten {
  color: #000;
  background-color: #FFFF00;
}

.api-table {
  .api-disabled {
    color: #cb2431;
  }
  .disabled-line-through {
    text-decoration: line-through;
  }
  .compatibility {
    background-color: #1081C2;
    border-radius: 10px;
    padding: 2px 8px;
    color: #fff;
    font-size: 12px;
  }
}