.vxe-pagination {
  &.vxe-grid--pagination {
    position: relative;
    border-style: solid;
    border-color: transparent;
    border-width: 0 1px;
    &.is--loading {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: $vxe-loading-background-color;
      }
    }
  }
}