/*input*/
.vxe-input--wrapper {
  height: 40px;
  font-size: $vxe-font-size;
  display: inline-block;
  .vxe-input,
  .vxe-textarea {
    outline: 0;
    padding: 0 10px;
    height: 100%;
    width: 100%;
    color: $vxe-font-color;
    border: 1px solid $vxe-input-border-color;
    &:focus {
      border: 1px solid $vxe-primary-color;
    }
  }
  .vxe-input {
    border-radius: 4px;
    background-color: #FFF;
  }
  .vxe-textarea {
    resize: none;
  }
  &.size--medium {
    height: 36px;
  }
  &.size--small {
    height: 32px;
  }
  &.size--mini {
    height: 28px;
  }
}