.vxe-table,
.vxe-table--filter-wrapper,
.vxe-table--tooltip-wrapper,
.vxe-table--ctxmenu-wrapper,
.vxe-checkbox {
  box-sizing: border-box;
  *, :after, :before {
    box-sizing: border-box;
  }
}

.vxe-table {
  &.t--animat {
    .vxe-sort-wrapper {
      .vxe-sort--asc-icon,
      .vxe-sort--desc-icon {
        &:before {
          transition: border .2s ease-in-out;
        }
      }
    }
    .vxe-table--expanded {
      .vxe-table--expand-icon{
        transition: all .2s ease-in-out;
      }
    }
    .vxe-header--column,
    .vxe-body--column,
    .vxe-body--row {
      transition: background-color .2s ease-in-out;
    }
    .vxe-input--wrapper {
      .vxe-input {
        transition: border .2s ease-in-out;
      }
    }
    .vxe-tree-wrapper {
      .vxe-tree--node-icon {
        transition: transform .2s ease-in-out;
      }
    }
  }
}
.vxe-table,
.vxe-table--filter-wrapper {
  &.t--animat {
    .vxe-checkbox,
    .vxe-radio {
      > input {
        &:checked+span {
          transition: background-color .1s ease-in-out;
        }
      }
    }
  }
}

/*table*/
.vxe-table {
  position: relative;
  overflow: hidden;
  border-left: 1px solid $vxe-table-border-color;
  border-right: 1px solid $vxe-table-border-color;
  font-size: $vxe-font-size;
  color: $vxe-font-color;
  font-family: $vxe-font-family;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $vxe-table-border-color;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  table {
    border-spacing: 0;
    border-collapse: separate;
  }
  .vxe-table-hidden-column {
    display: none;
  }
  .vxe-table--header-wrapper,
  .vxe-table--footer-wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 1px solid $vxe-table-border-color;
  }
  .vxe-table--header-wrapper {
    background-color: $vxe-table-header-background-color;
    .vxe-table--repair {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      background-color: $vxe-table-border-color;
    }
  }
  .vxe-table--footer-wrapper {
    margin-top: -1px;
    background-color: $vxe-table-background-color;
    &.footer--wrapper{
      overflow-x: auto;
    }
  }
  &.show--foot {
    &.scroll--x {
      .vxe-table--body-wrapper {
        overflow-x: scroll;
      }
    }
  }
  .vxe-body--row {
    background-color: $vxe-table-background-color;
  }
  .vxe-table--body-wrapper,
  .vxe-table--fixed-left-body-wrapper,
  .vxe-table--fixed-right-body-wrapper {
    overflow-y: auto;
    overflow-x: auto;
  }
  .vxe-body--row {
    &.row--hover {
      background-color: $vxe-table-row-hover-background-color;
    }
    &.row--selected {
      background-color: $vxe-table-row-selected-background-color;
    }
    .vxe-body--column {
      border-bottom: 1px solid $vxe-table-border-color;
    }
  }
  &.t--highlight {
    .vxe-body--row {
      &:hover {
        background-color: $vxe-table-row-hover-background-color;
      }
    }
  }
  &.t--stripe {
    .vxe-body--row {
      &:nth-child(2n) {
        background-color: $vxe-table-row-striped-background-color;
      }
    }
  }
  .vxe-header--column,
  .vxe-body--column,
  .vxe-footer--column {
    padding: 12px 0;
    line-height: 23px;
    text-align: left;
    &.col--center {
      text-align: center;
    }
    &.col--right {
      text-align: right;
    }
  }
  .vxe-header--column {
    position: relative;
    &.filter--active {
      .vxe-filter--icon,
      .vxe-filter--icon:hover {
        &:before {
          border-top-color: $vxe-primary-color;
        }
        &:after {
          background-color: $vxe-primary-color;
        }
      }
    }
    .vxe-required-icon {
      display: inline-block;
      color: #f56c6c;
      line-height: 16px;
      font-size: 16px;
      vertical-align: middle;
      &:before {
        content: "*";
        width: 10px;
        height: 8px;
        display: block;
      }
    }
    .vxe-resizable {
      position: absolute;
      right: -7px;
      top: 0;
      width: 14px;
      height: 100%;
      z-index: 1;
      user-select: none;
      cursor: col-resize;
    }
  }
  &.t--border {
    .vxe-header--column,
    .vxe-body--column,
    .vxe-footer--column {
      border-right: 1px solid $vxe-table-border-color;
      &:last-child {
        border-right-color: $vxe-table-background-color;
      }
    }
    &.scroll--y {
      .vxe-header--column,
      .vxe-body--column,
      .vxe-footer--column {
        &:last-child {
          border-right: 1px solid $vxe-table-border-color;
        }
      }
    }
    .vxe-header--column,
    .vxe-footer--column{
      border-bottom: 1px solid $vxe-table-border-color;
    }
    .vxe-table--fixed-left-wrapper {
      .vxe-body--column{
        border-right-color: $vxe-table-border-color;
      }
    }
  }
  &.size--medium {
    .vxe-header--column,
    .vxe-body--column,
    .vxe-footer--column {
      padding: 10px 0;
    }
    .vxe-table--loading {
      .vxe-table--spinner {
        width: 50px;
        height: 50px;
      }
    }
    .vxe-input--wrapper {
      height: 36px;
    }
  }
  &.size--small {
    font-size: 12px;
    .vxe-header--column,
    .vxe-body--column,
    .vxe-footer--column {
      padding: 8px 0;
    }
    .vxe-table--loading {
      .vxe-table--spinner {
        width: 44px;
        height: 44px;
      }
    }
    .vxe-input--wrapper {
      height: 32px;
    }
  }
  &.size--mini {
    font-size: 12px;
    .vxe-header--column,
    .vxe-body--column,
    .vxe-footer--column {
      padding: 6px 0;
    }
    .vxe-table--loading {
      .vxe-table--spinner {
        width: 38px;
        height: 38px;
      }
    }
    .vxe-input--wrapper {
      height: 28px;
    }
  }
  .vxe-cell {
    white-space: normal;
    word-break: break-all;
    padding: 0 10px;
    &.c--ellipsis,
    &.c--title,
    &.c--tooltip {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .vxe-input--wrapper {
    width: 100%;
    display: block;
    .vxe-input,
    .vxe-textarea {
      padding: 0 2px;
    }
  }
  .fixed--hidden {
    visibility: hidden;
  }
  .vxe-table--fixed-left-wrapper,
  .vxe-table--fixed-right-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    overflow: hidden;
  }
  .vxe-table--fixed-left-wrapper {
    left: 0;
    width: 200px;
    &.scrolling--middle {
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12);
    }
  }
  .vxe-table--fixed-right-wrapper {
    right: 0;
    &.scrolling--middle {
      box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.12);
    }
  }
  .vxe-table--header-wrapper,
  .vxe-table--body-wrapper,
  .vxe-table--footer-wrapper {
    &.fixed--left-wrapper,
    &.fixed--right-wrapper {
      position: absolute;
      top: 0;
    }
    &.fixed--left-wrapper {
      left: 0;
    }
    &.fixed--right-wrapper {
      right: 0;
      overflow-y: auto;
    }
  }
  .vxe-body--x-space {
    width: 100%;
    height: 1px;
    margin-bottom: -1px;
  }

  /*加载中*/
  &.t--loading {
    .vxe-table--loading {
      display: block;
    }
  }
  .vxe-table--loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: $vxe-loading-background-color;
    .vxe-table--spinner {
      width: 56px;
      height: 56px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:before,
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $vxe-primary-color;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        animation: bounce 2.0s infinite ease-in-out;
      }
      &:after {
        animation-delay: -1.0s;
      }
    }
    @keyframes bounce {
      0%, 100% {
        transform: scale(0.0);
      } 50% {
        transform: scale(1.0);
      }
    }
  }

  /*排序*/
  .vxe-sort-wrapper {
    padding: 0 2px;
    vertical-align: middle;
    display: inline-block;
    .vxe-sort--asc-icon,
    .vxe-sort--desc-icon {
      position: relative;
      display: block;
      width: 18px;
      height: 12px;
      cursor: pointer;
      &:before {
        content: "";
        left: 4px;
        position: absolute;
        border: 5px solid transparent;
      }
    }
    .vxe-sort--asc-icon {
      &:before {
        top: 0;
        border-bottom-color: $vxe-table-column-icon-border-color;
      }
      &:hover {
        &:before {
          border-bottom-color: $vxe-table-column-icon-border-hover-color;
        }
      }
      &.sort--active {
        &:before {
          border-bottom-color: $vxe-primary-color;
        }
      }
    }
    .vxe-sort--desc-icon {
      &:before {
        bottom: 2px;
        border-top-color: $vxe-table-column-icon-border-color;
      }
      &:hover {
        &:before {
          border-top-color: $vxe-table-column-icon-border-hover-color;
        }
      }
      &.sort--active {
        &:before {
          border-top-color: $vxe-primary-color;
        }
      }
    }
  }

  /*列宽线*/
  .vxe-table--resizable-bar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    z-index: 4;
    &:before {
      content: "";
      display: block;
      height: 100%;
      background-color: $vxe-table-border-color;
    }
  }

  /*树形节点*/
  .vxe-tree--indent {
    display: inline-block;
  }
  .vxe-tree-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    cursor: pointer;
    &.active {
      .vxe-tree--node-icon {
        transform: rotate(90deg);
      }
    }
    .vxe-tree--node-icon {
      position: relative;
      width: 14px;
      height: 14px;
      display: inline-block;
      vertical-align: middle;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 4px;
        border: 6px solid transparent;
        border-left-color: $vxe-table-column-icon-border-color;
      }
    }
  }

  /*筛选*/
  .vxe-filter-wrapper {
    padding: 0 2px;
    vertical-align: middle;
    display: inline-block;
    .vxe-filter--icon {
      position: relative;
      display: block;
      width: 18px;
      height: 18px;
      cursor: pointer;
      &:before,
      &:after {
        content: "";
        position: absolute;
      }
      &:before {
        top: 3px;
        left: 3px;
        border: 6px solid transparent;
        border-top-color: $vxe-table-column-icon-border-color;
      }
      &:after {
        left: 8px;
        top: 6px;
        width: 2px;
        height: 7px;
        background-color: $vxe-table-column-icon-border-color;
      }
      &:hover {
        &:before {
          border-top-color: $vxe-table-column-icon-border-hover-color;
        }
        &:after {
          background-color: $vxe-table-column-icon-border-hover-color;
        }
      }
    }
  }

  /*展开行*/
  .vxe-table--expanded {
    display: block;
    text-align: center;
    cursor: pointer;
    .vxe-table--expand-icon {
      display: inline-block;
      width: 6px;
      height: 6px;
      border: 1px solid #666;
      vertical-align: middle;
      border-width: 1px 1px 0 0;
      transform: rotate(45deg);
      background-color: transparent;
    }
    &.expand--active {
      .vxe-table--expand-icon {
        transform: rotate(135deg);
      }
    }
  }
  .vxe-body--expanded-column {
    border-bottom: 1px solid $vxe-table-border-color;
  }
  .vxe-body--expanded-cell {
    padding: 20px 50px;
  }

  /*固定列*/
  &.fixed--left,
  &.fixed--right,
  &.vxe-editable {
    .vxe-body--column {
      height: 48px;
      line-height: inherit;
    }
    &.size--medium {
      .vxe-body--column {
        height: 44px;
      }
    }
    &.size--small {
      .vxe-body--column {
        height: 40px;
      }
    }
    &.size--mini {
      .vxe-body--column {
        height: 36px;
      }
    }
  }

  // 校验不通过
  .vxe-body--column {
    &.col--valid-error {
      .vxe-input--wrapper {
        > .vxe-input {
          border-color: #f56c6c;
        }
      }
    }
  }

  /*可编辑*/
  &.vxe-editable {
    .vxe-header--column {
      .vxe-edit--icon {
        position: relative;
        width: 11px;
        height: 11px;
        display: inline-block;
        border-radius: 2px;
        border: 1px solid $vxe-font-color;
        vertical-align: middle;
        margin-right: 6px;
        &:before,
        &:after {
          content: "";
          position: absolute;
          background-color: #fff;
        }
        &:before {
          content: "";
          position: absolute;
          top: -1px;
          right: -1px;
          width: 6px;
          height: 6px;
        }
        &:after {
          left: 2px;
          top: 1px;
          width: 10px;
          height: 3px;
          border-radius: 2px;
          border: 1px solid $vxe-font-color;
          transform: rotate(-45deg);
          z-index: 1;
        }
      }
    }
    .vxe-body--column {
      padding: 0;
      &.col--edit {
        &.col--actived {
          padding: 0;
        }
      }
      &.col--selected {
        box-shadow: inset 0 0 4px $vxe-primary-color;
      }
      &.col--dirty {
        position: relative;
        &:before {
          content: "";
          top: -5px;
          left: -5px;
          position: absolute;
          border: 5px solid;
          border-color: transparent #f56c6c transparent transparent;
          transform: rotate(45deg);
        }
      }
    }
  }

  /*excel*/
  &.vxe-excel {
    color: $vxe-excel-font-color;
    border-color: $vxe-excel-column-border-color;
    &.t--border {
      .vxe-header--column,
      .vxe-body--column {
        border-right-color: $vxe-excel-column-border-color;
        border-bottom-color: $vxe-excel-column-border-color;
      }
    }
    .vxe-table--resizable-bar {
      &:before {
        background-color: $vxe-excel-column-border-color;
      }
    }
    .body--wrapper {
      .vxe-header--column {
        &:last-child {
          border-right-color: $vxe-excel-header-background-color;
        }
      }
      .vxe-body--column {
        &:last-child {
          border-right-color: $vxe-table-background-color;
        }
      }
    }
    .vxe-header--column {
      padding: 4px 0;
      font-size: 12px;
      cursor: default;
    }
    .vxe-excel--column-selected {
      background-color: $vxe-excel-header-selected-background-color;
      color: $vxe-excel-primary-color;
    }
    .vxe-table--header-wrapper {
      background-color: $vxe-excel-header-background-color;
      .vxe-table--repair {
        background-color: $vxe-excel-column-border-color;
      }
    }
    // 修复边缘
    .vxe-body--row {
      &:first-child {
        .vxe-body--column {
          &.col--checked-top {
            .vxe-body--column-checked-lt {
              &:before {
                top: 0;
              }
            }
          }
        }
      }
      &:last-child {
        .col--checked {
          .vxe-body--column-checked-corner {
            bottom: -1px;
          }
        }
      }
    }
    .vxe-body--column {
      &:nth-child(2) {
        &.col--checked-left {
          .vxe-body--column-checked-lt {
            &:after {
              left: 0;
            }
          }
        }
      }
      &:last-child {
        &.col--checked {
          .vxe-body--column-checked-corner {
            right: -1px;
          }
        }
      }
    }
    .vxe-body--column {
      padding: 0;
      transition: none;
      height: inherit;
      line-height: 24px;
      cursor: cell;
      .vxe-cell {
        padding: 0 #{$vxe-excel-column-border-width + 2px};
        .vxe-input--wrapper {
          height: inherit;
          position: relative;
          .vxe-textarea {
            position: absolute;
            color: $vxe-excel-font-color;
            overflow: hidden;
          }
          .vxe-textarea,
          .vxe-textarea:focus {
            border-radius: 0;
            border: $vxe-excel-column-border-width solid $vxe-excel-primary-color;
          }
        }
      }
      &:first-child {
        background-color: $vxe-excel-header-background-color;
        cursor: default;
        &.vxe-excel--index-selected {
          color: $vxe-excel-primary-color;
          background-color: $vxe-excel-header-selected-background-color;
        }
      }
      &.col--selected {
        box-shadow: none;
        &.col--checked {
          background-color: #fff;
        }
      }
      &.col--actived {
        .vxe-cell {
          padding: 0;
        }
      }
      &.col--checked,
      &.col--checked-temp,
      &.col--copyed {
        position: relative;
      }
      &.col--checked {
        background-color: rgba(0, 0, 0, 0.2);
        border-color: #A5A5A5;
      }
      &.col--checked,
      &.col--checked-temp {
        .vxe-body--column-checked-lt,
        .vxe-body--column-checked-rb {
          &:before,
          &:after {
            background: $vxe-excel-primary-color;
          }
        }
        .vxe-body--column-checked-corner {
          position: absolute;
          right: -$vxe-excel-column-border-width;
          bottom: -$vxe-excel-column-border-width;
          width: $vxe-excel-column-border-width * 4;
          height: $vxe-excel-column-border-width * 4;
          border: 1px solid #fff;
          background-color: $vxe-excel-primary-color;
          cursor: crosshair;
        }
      }
      &.col--copyed {
        .vxe-body--column-copyed-lt,
        .vxe-body--column-copyed-rb {
          &:before,
          &:after {
            background: repeating-linear-gradient(135deg, transparent, transparent 3px, $vxe-excel-primary-color 3px, $vxe-excel-primary-color 9px);
            animation: shine 1s infinite linear;
          }
        }
      }
      %checked-left-after {
        content: "";
        top: 1px - $vxe-excel-column-border-width;
        left: 1px - $vxe-excel-column-border-width;
        position: absolute;
        height: calc(100% + #{$vxe-excel-column-border-width});
        width: $vxe-excel-column-border-width;
      }
      &.col--checked-left,
      &.col--checked-temp-left {
        .vxe-body--column-checked-lt {
          &:after {
            @extend %checked-left-after;
          }
        }
      }
      &.col--copyed-left {
        .vxe-body--column-checked-lt {
          &:after {
            left: -$vxe-excel-column-border-width;
          }
        }
        .vxe-body--column-copyed-lt {
          &:after {
            @extend %checked-left-after;
          }
        }
      }
      %checked-top-before {
        content: "";
        top: 1px - $vxe-excel-column-border-width;
        left: 1px - $vxe-excel-column-border-width;
        position: absolute;
        width: calc(100% + #{$vxe-excel-column-border-width});
        height: $vxe-excel-column-border-width;
      }
      &.col--checked-top,
      &.col--checked-temp-top {
        .vxe-body--column-checked-lt {
          &:before {
            @extend %checked-top-before;
          }
        }
      }
      &.col--copyed-top {
        .vxe-body--column-checked-lt {
          &:before {
            top: -$vxe-excel-column-border-width;
          }
        }
        .vxe-body--column-copyed-lt {
          &:before {
            @extend %checked-top-before;
          }
        }
      }
      %checked-right-after {
        content: "";
        top: 1px - $vxe-excel-column-border-width;
        right: 1px - $vxe-excel-column-border-width;
        position: absolute;
        height: calc(100% + #{$vxe-excel-column-border-width});
        width: $vxe-excel-column-border-width;
      }
      &.col--checked-right,
      &.col--checked-temp-right {
        .vxe-body--column-checked-rb {
          &:after {
            @extend %checked-right-after;
          }
        }
      }
      &.col--copyed-right {
        .vxe-body--column-checked-rb {
          &:after {
            right: -$vxe-excel-column-border-width;
          }
        }
        .vxe-body--column-copyed-rb {
          &:after {
            @extend %checked-right-after;
          }
        }
      }
      %checked-bottom-before {
        content: "";
        bottom: 1px - $vxe-excel-column-border-width;
        left: 1px - $vxe-excel-column-border-width;
        position: absolute;
        width: calc(100% + #{$vxe-excel-column-border-width});
        height: $vxe-excel-column-border-width;
      }
      &.col--checked-bottom,
      &.col--checked-temp-bottom {
        .vxe-body--column-checked-rb {
          &:before {
            @extend %checked-bottom-before;
          }
        }
      }
      &.col--copyed-bottom {
        .vxe-body--column-checked-rb {
          &:before {
            bottom: -$vxe-excel-column-border-width;
          }
        }
        .vxe-body--column-copyed-rb {
          &:before {
            @extend %checked-bottom-before;
          }
        }
      }
    }
  }
}

@keyframes shine {
  0% {
    background-position: -1px -1px;
  }
  100% {
    background-position: -12px -12px;
  }
}

/*筛选容器*/
.vxe-table--filter-wrapper {
  display: none;
  position: absolute;
  min-width: 100px;
  border-radius: 2px;
  color: $vxe-font-color;
  background-color: #fff;
  border: 1px solid $vxe-table-popup-border-color;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
  font-size: 13px;
  font-family: $vxe-font-family;
  &.filter--active {
    display: block;
  }
  .vxe-table--filter-body {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 240px;
    padding: 10px 10px 0 10px;
    overflow-x: hidden;
    overflow-y: auto;
    .vxe-table--filter-option {
      margin-bottom: 8px;
      .vxe-checkbox {
        display: block;
        .checkbox--label {
          max-width: 360px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  .vxe-table--filter-footer {
    border-top: 1px solid $vxe-table-popup-border-color;
    padding: 8px;
    button {
      background-color: transparent;
      padding: 0 3px;
      border: 0;
      font-size: 13px;
      color: $vxe-font-color;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:hover {
        color: $vxe-primary-color;
      }
      &.is--disabled {
        color: #c0c4cc;
        cursor: not-allowed;
      }
    }
  }
}

/*快捷菜单*/
.vxe-table--ctxmenu-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 88;
  font-size: 12px;
  background-color: #FFF;
  border: 1px solid $vxe-table-popup-border-color;
  box-shadow: 2px 2px 4px -2px rgba(0,0,0,.2);
  padding: 0 1px;
  user-select: none;
  color: $vxe-font-color;
  font-family: $vxe-font-family;
  &.show {
    display: block;
  }
  .vxe-ctxmenu--option-wrapper {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #E8EAED;
    li {
      position: relative;
      margin: 1px 0;
      border: 1px solid transparent;
      &:last-child {
        border: 0;
      }
      &.link--active {
        color: #2B2B2B;
        background-color: #C5C5C5;
        border-color:#C5C5C5;
      }
      &.link--disabled {
        color: $vxe-disabled-color;
        &.link--active {
          border-color:#C0C1C2;
          background-color: #EEEEEE;
          &:hover {
            background-color: inherit;
          }
        }
      }
    }
    .vxe-ctxmenu--link {
      display: block;
      padding: 0 30px;
      min-width: 120px;
      max-width: 180px;
      line-height: 26px;
      color: $vxe-font-color;
      .vxe-ctxmenu--link-prefix,
      .vxe-ctxmenu--link-suffix {
        position: absolute;
        top: 5px;
        margin-right: 5px;
        font-size: 16px;
      }
      .vxe-ctxmenu--link-prefix {
        left: 5px;
      }
      .vxe-ctxmenu--link-suffix {
        right: 5px;
        &.suffix--haschild {
          top: 8px;
          &:before {
            position: absolute;
            content: "";
            border: 4px solid transparent;
            border-left-color: #727272;
          }
        }
      }
      .vxe-ctxmenu--link-content {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .vxe-table--ctxmenu-clild-wrapper {
      .vxe-ctxmenu--link {
        max-width: 180px;
        padding: 0 20px 0 30px;
      }
    }
  }
}
.vxe-table--ctxmenu-clild-wrapper {
  @extend .vxe-table--ctxmenu-wrapper, .vxe-ctxmenu--option-wrapper;
  display: none;
  z-index: 99;
  top: 0;
  left: 100%;
  &.show {
    display: block;
  }
}

/*tppltip*/
.vxe-table--tooltip-wrapper,
.vxe-table--valid-error-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  font-size: 12px;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px 12px;
  white-space: normal;
  word-break: break-all;
  box-shadow: 2px 2px 4px -2px rgba(0,0,0,.2);
  color: $vxe-font-color;
  font-family: $vxe-font-family;
  .vxe-table--tooltip-arrow {
    position: absolute;
    border-color: transparent;
    border-width: 6px;
    border-style: solid;
    left: 50%;
    &:before {
      content: "";
      position: absolute;
      border-color: transparent;
      border-width: 5px;
      border-style: solid;
      left: -5px;
    }
  }
  &.placement--top {
    .vxe-table--tooltip-arrow {
      bottom: -12px;
      &:before {
        top: -7px;
      }
    }
  }
  &.placement--bottom {
    .vxe-table--tooltip-arrow {
      top: -12px;
      &:before {
        top: -4px;
      }
    }
  }
}
.vxe-table--tooltip-wrapper {
  &.theme--light {
    background-color: $vxe-tooltip-light-background-color;
    border: 1px solid $vxe-input-border-color;
    &.placement--top {
      .vxe-table--tooltip-arrow {
        border-top-color: $vxe-input-border-color;
        &:before {
          border-top-color: $vxe-tooltip-light-background-color;
        }
      }
    }
    &.placement--bottom {
      .vxe-table--tooltip-arrow {
        border-bottom-color: $vxe-input-border-color;
        &:before {
          border-bottom-color: $vxe-tooltip-light-background-color;
        }
      }
    }
  }
  &.theme--dark {
    background: $vxe-tooltip-dark-background-color;
    color: #FFF;
    &.placement--top {
      .vxe-table--tooltip-arrow {
        border-top-color: $vxe-tooltip-dark-background-color;
        &:before {
          border-top-color: $vxe-tooltip-dark-background-color;
        }
      }
    }
    &.placement--bottom {
      .vxe-table--tooltip-arrow {
        border-bottom-color: $vxe-tooltip-dark-background-color;
        &:before {
          border-bottom-color: $vxe-tooltip-dark-background-color;
        }
      }
    }
  }
}

/*valid error*/
.vxe-table--valid-error-wrapper {
  background-color: #f56c6c;
  color: #fff;
}

.vxe-checkbox,
.vxe-radio {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  > input {
    display: none;
    &+.radio--icon,
    &+.checkbox--icon {
      position: relative;
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid $vxe-input-border-color;
      background-color: #fff;
      vertical-align: middle;
      &:before {
        content: "";
        position: absolute;
        border: 1px solid #fff;
      }
    }
    &:checked+.radio--icon,
    &:checked+.checkbox--icon {
      background-color: $vxe-primary-color;
      border-color: $vxe-primary-color;
    }
  }
  .checkbox--label {
    padding-left: 5px;
    vertical-align: middle;
    display: inline-block;
  }
}

/*checkbox*/
.vxe-checkbox {
  &.is--indeterminate {
    > input {
      &+.checkbox--icon {
        background-color: $vxe-primary-color;
        border-color: $vxe-primary-color;
        &:before {
          top: 50%;
          height: 0;
          width: 100%;
          transform: translateY(-50%) scale(.5);
        }
      }
    }
  }
  > input {
    &+.checkbox--icon {
      border-radius: 2px;
    }
    &:checked+.checkbox--icon {
      &:before {
        height: 8px;
        width: 4px;
        left: 4px;
        top: 1px;
        border-left: 0;
        border-top: 0;
        transform: rotate(45deg);
      }
    }
  }
}

/*radio*/
.vxe-radio {
  > input {
    &+.radio--icon {
      border-radius: 50%;
      &:before {
        background-color: #fff;
        border-radius: 50%;
        height: 4px;
        width: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
}

/*input*/
.vxe-input--wrapper {
  height: 40px;
  font-size: $vxe-font-size;
  display: inline-block;
  .vxe-input,
  .vxe-textarea {
    outline: 0;
    padding: 0 10px;
    height: 100%;
    width: 100%;
    color: $vxe-font-color;
    border: 1px solid $vxe-input-border-color;
    &:focus {
      border: 1px solid $vxe-primary-color;
    }
  }
  .vxe-input {
    border-radius: 4px;
    background-color: #FFF;
  }
  .vxe-textarea {
    resize: none;
  }
}

.vxe-grid--pagination {
  position: relative;
  border-style: solid;
  border-color: transparent;
  border-width: 0 1px;
  &.is--loading {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: $vxe-loading-background-color;
    }
  }
}

/*pagination*/
.vxe-pagination {
  padding: 10px 0;
  font-size: $vxe-font-size;
  color: $vxe-font-color;
  font-family: $vxe-font-family;
  text-align: right;
  &.p--background {
    .page--prev-btn,
    .page--next-btn {
      background-color: #f4f4f5;
      border-radius: 4px;
    }
    .page--btn-wrapper {
      .page--jump-prev,
      .page--num-btn,
      .page--jump-next {
        background-color: #f4f4f5;
        border-radius: 4px;
        transition: background-color .2s ease-in-out;
        &:hover {
          color: $vxe-primary-color;
        }
        &.is--active {
          color: #fff;
          background-color: $vxe-primary-color;
        }
      }
    }
  }
  &.size--small,
  &.size--mini {
    font-size: 12px;
    padding: 8px 0;
    .page--total,
    .page--prev-btn,
    .page--btn-wrapper,
    .page--next-btn,
    .page--sizes,
    .page--jump {
      margin: 0 4px;
    }
    .page--prev-btn,
    .page--next-btn {
      width: 24px;
      height: 24px;
      &:before {
        width: 7px;
        height: 7px;
        top: 8px;
      }
    }
    .page--btn-wrapper {
      .page--jump-prev,
      .page--num-btn,
      .page--jump-next {
        height: 24px;
        line-height: 24px;
      }
    }
    .page--sizes {
      .size--content {
        height: 24px;
        line-height: 24px;
      }
    }
    .page--jump .page--goto {
      height: 24px;
    }
  }
  .page--total,
  .page--prev-btn,
  .page--btn-wrapper,
  .page--next-btn,
  .page--sizes,
  .page--jump {
    margin: 0 6px;
    vertical-align: middle;
  }
  .page--prev-btn,
  .page--btn-wrapper,
  .page--next-btn,
  .page--sizes {
    user-select: none;
    cursor: pointer;
  }
  .page--prev-btn,
  .page--next-btn {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px;
    font-weight: 700;
    text-align: center;
    &:hover {
      &:before {
        border-color: $vxe-primary-color transparent transparent $vxe-primary-color;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 9px;
      width: 8px;
      height: 8px;
      display: block;
      border-color: $vxe-font-color transparent transparent $vxe-font-color;
      border-width: 2px;
      border-style: solid;
    }
    &.is--disabled {
      cursor: not-allowed;
      &:before {
        border-color: $vxe-disabled-color transparent transparent $vxe-disabled-color;
      }
    }
  }
  .page--prev-btn {
    &:before {
      left: 10px;
      transform: rotate(-45deg);
    }
  }
  .page--next-btn {
    &:before {
      right: 12px;
      transform: rotate(135deg);
    }
  }
  .page--btn-wrapper {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    text-align: center;
    .page--jump-prev,
    .page--num-btn,
    .page--jump-next {
      display: inline-block;
      margin: 0 2px;
      height: 26px;
      line-height: 26px;
      &:hover,
      &.is--active {
        color: $vxe-primary-color;
      }
    }
    .page--jump-prev,
    .page--jump-next {
      width: 26px;
      text-align: center;
      &:before {
        content: "...";
        font-weight: 700;
      }
    }
    .page--jump-prev {
      &:hover {
        &:before {
          content: "<<";
          font-size: 14px;
          font-weight: inherit;
        }
      }
    }
    .page--jump-next {
      &:hover {
        &:before {
          content: ">>";
          font-size: 14px;
          font-weight: inherit;
        }
      }
    }
    .page--num-btn {
      min-width: 26px;
    }
  }
  .page--sizes {
    position: relative;
    border-radius: 4px;
    padding: 0;
    border: 1px solid $vxe-input-border-color;
    color: $vxe-font-color;
    text-align: center;
    display: inline-block;
    transition: border .2s ease-in-out;
    &.is--show {
      border: 1px solid $vxe-primary-color;
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      right: 8px;
      border-width: 4px;
      border-style: solid;
      border-color: $vxe-font-color transparent transparent transparent;
      transform: translateY(-2px);
      transition: transform .2s ease-in-out;
      z-index: -1;
    }
    .size--content {
      padding: 0 22px 0 10px;
      height: 26px;
      line-height: 26px;
      display: block;
    }
  }
  .page--jump .page--goto {
    border-radius: 4px;
    border: 1px solid $vxe-input-border-color;
    color: $vxe-font-color;
    height: 26px;
    transition: border .2s ease-in-out;
    &:focus {
      border: 1px solid $vxe-primary-color;
      outline: 0;
    }
  }
  .page--jump {
    .page--goto {
      width: 42px;
      margin: 0 5px;
      text-align: center;
    }
  }
}
.vxe-pagination-size--select {
  display: none;
  position: absolute;
  margin: 0;
  padding: 4px 0;
  min-width: 50px;
  background-color: #fff;
  list-style-type: none;
  border-radius: 4px;
  font-size: $vxe-font-size;
  color: $vxe-font-color;
  font-family: $vxe-font-family;
  border: 1px solid $vxe-primary-color;
  &.is--show {
    display: block;
  }
  .size--option {
    padding: 0 15px;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      color: $vxe-primary-color;
    }
    &.is--active {
      font-weight: 700;
      color: $vxe-primary-color;
    }
  }
}