/*table*/
.vxe-table {
  position: relative;
  overflow: hidden;
  border-left: 1px solid $vxe-table-border-color;
  border-right: 1px solid $vxe-table-border-color;
  font-size: $vxe-font-size;
  color: $vxe-font-color;
  font-family: $vxe-font-family;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $vxe-table-border-color;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  table {
    border-spacing: 0;
    border-collapse: separate;
  }
  .vxe-table-hidden-column {
    display: none;
  }
  .vxe-table--header-wrapper,
  .vxe-table--footer-wrapper {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 1px solid $vxe-table-border-color;
  }
  .vxe-table--header-wrapper {
    background-color: $vxe-table-header-background-color;
    .vxe-table--repair {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      background-color: $vxe-table-border-color;
    }
  }
  .vxe-table--footer-wrapper {
    margin-top: -1px;
    background-color: $vxe-table-background-color;
    &.footer--wrapper{
      overflow-x: auto;
    }
  }
  &.show--foot {
    &.scroll--x {
      .vxe-table--body-wrapper {
        overflow-x: scroll;
      }
    }
  }
  .vxe-table--body-wrapper,
  .vxe-table--fixed-left-body-wrapper,
  .vxe-table--fixed-right-body-wrapper {
    overflow-y: auto;
    overflow-x: auto;
  }
  .vxe-body--row {
    background-color: $vxe-table-background-color;
    &.row--hover {
      background-color: $vxe-table-row-hover-background-color;
    }
    &.row--selected {
      background-color: $vxe-table-row-selected-background-color;
    }
    .vxe-body--column {
      border-bottom: 1px solid $vxe-table-border-color;
    }
  }
  &.t--highlight {
    .vxe-body--row {
      &:hover {
        background-color: $vxe-table-row-hover-background-color;
      }
    }
  }
  &.t--stripe {
    .vxe-body--row {
      &:nth-child(2n) {
        background-color: $vxe-table-row-striped-background-color;
      }
    }
  }
  .vxe-header--column,
  .vxe-body--column,
  .vxe-footer--column {
    padding: 12px 0;
    line-height: 23px;
    text-align: left;
    &.col--center {
      text-align: center;
    }
    &.col--right {
      text-align: right;
    }
  }
  .vxe-header--column {
    position: relative;
    .vxe-required-icon {
      display: inline-block;
      color: $vxe-table-validate-error-color;
      line-height: 16px;
      font-size: 16px;
      vertical-align: middle;
      &:before {
        content: "*";
        width: 10px;
        height: 8px;
        display: block;
      }
    }
    .vxe-edit-icon {
      font-size: 12px;
      margin: 1px 2px 2px 2px;
    }
    .vxe-resizable {
      position: absolute;
      right: -7px;
      top: 0;
      width: 14px;
      height: 100%;
      z-index: 1;
      user-select: none;
      cursor: col-resize;
    }
  }
  &.t--border {
    .vxe-header--column,
    .vxe-body--column,
    .vxe-footer--column {
      border-right: 1px solid $vxe-table-border-color;
      &:last-child {
        border-right-color: $vxe-table-background-color;
      }
    }
    &.scroll--y {
      .vxe-header--column,
      .vxe-body--column,
      .vxe-footer--column {
        &:last-child {
          border-right: 1px solid $vxe-table-border-color;
        }
      }
    }
    .vxe-header--column,
    .vxe-footer--column{
      border-bottom: 1px solid $vxe-table-border-color;
    }
    .vxe-table--fixed-left-wrapper {
      .vxe-body--column{
        border-right-color: $vxe-table-border-color;
      }
    }
  }
  &.size--medium {
    .vxe-header--column,
    .vxe-body--column,
    .vxe-footer--column {
      padding: 10px 0;
    }
    .vxe-table--loading {
      .vxe-table--spinner {
        width: 50px;
        height: 50px;
      }
    }
    .vxe-input--wrapper {
      height: 36px;
    }
  }
  &.size--small {
    font-size: 12px;
    .vxe-header--column,
    .vxe-body--column,
    .vxe-footer--column {
      padding: 8px 0;
    }
    .vxe-table--loading {
      .vxe-table--spinner {
        width: 44px;
        height: 44px;
      }
    }
    .vxe-input--wrapper {
      height: 32px;
    }
  }
  &.size--mini {
    font-size: 12px;
    .vxe-header--column,
    .vxe-body--column,
    .vxe-footer--column {
      padding: 6px 0;
    }
    .vxe-table--loading {
      .vxe-table--spinner {
        width: 38px;
        height: 38px;
      }
    }
    .vxe-input--wrapper {
      height: 28px;
    }
  }
  .vxe-cell {
    white-space: normal;
    word-break: break-all;
    padding: 0 10px;
    &.c--ellipsis,
    &.c--title,
    &.c--tooltip {
      @extend %textEllipsis;
      & > .vxe-checkbox {
        display: block;
        @extend %textEllipsis;
      }
    }
  }
  .vxe-input--wrapper {
    width: 100%;
    display: block;
    .vxe-input,
    .vxe-textarea {
      padding: 0 2px;
    }
  }
  .fixed--hidden {
    visibility: hidden;
  }
  .vxe-table--fixed-left-wrapper,
  .vxe-table--fixed-right-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    overflow: hidden;
  }
  .vxe-table--fixed-left-wrapper {
    left: 0;
    width: 200px;
    &.scrolling--middle {
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12);
    }
  }
  .vxe-table--fixed-right-wrapper {
    right: 0;
    &.scrolling--middle {
      box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.12);
    }
  }
  .vxe-table--header-wrapper,
  .vxe-table--body-wrapper,
  .vxe-table--footer-wrapper {
    &.fixed--left-wrapper,
    &.fixed--right-wrapper {
      position: absolute;
      top: 0;
    }
    &.fixed--left-wrapper {
      left: 0;
    }
    &.fixed--right-wrapper {
      right: 0;
      overflow-y: auto;
    }
  }
  .vxe-body--x-space {
    width: 100%;
    height: 1px;
    margin-bottom: -1px;
  }

  /*加载中*/
  &.t--loading {
    .vxe-table--loading {
      display: block;
    }
  }
  .vxe-table--loading {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: $vxe-loading-background-color;
    .vxe-table--spinner {
      width: 56px;
      height: 56px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &:before,
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $vxe-primary-color;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        animation: bounce 2.0s infinite ease-in-out;
      }
      &:after {
        animation-delay: -1.0s;
      }
    }
    @keyframes bounce {
      0%, 100% {
        transform: scale(0);
      } 50% {
        transform: scale(1);
      }
    }
  }

  /*排序*/
  .vxe-sort-wrapper {
    padding: 0 2px;
    vertical-align: middle;
    display: inline-block;
    .vxe-icon--caret-top {
      &:before {
        bottom: 0.1em;
      }
    }
    .vxe-sort--asc-btn,
    .vxe-sort--desc-btn {
      display: block;
      font-size: 12px;
      color: $vxe-table-column-icon-border-color;
      cursor: pointer;
      &:hover {
        color: $vxe-font-color;
      }
      &.sort--active {
        color: $vxe-primary-color;
      }
    }
  }

  /*列宽线*/
  .vxe-table--resizable-bar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    z-index: 4;
    &:before {
      content: "";
      display: block;
      height: 100%;
      background-color: $vxe-table-border-color;
    }
  }

  /*树形节点*/
  .vxe-tree--indent {
    display: inline-block;
  }
  .vxe-tree-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    cursor: pointer;
    &.is--active {
      .vxe-tree--node-btn {
        transform: rotate(180deg);
      }
    }
    .vxe-tree--node-btn {
      font-size: 12px;
      color: lighten($vxe-font-color, 20%);
      &:hover {
        color: $vxe-font-color;
      }
    }
  }

  /*筛选*/
  .vxe-filter-wrapper {
    padding: 0 2px;
    vertical-align: middle;
    display: inline-block;
    &.is--active {
      .vxe-filter--btn {
        color: $vxe-font-color;
      }
    }
    .vxe-filter--btn {
      font-size: 13px;
      color: $vxe-table-column-icon-border-color;
      cursor: pointer;
      &:hover {
        color: $vxe-font-color;
      }
    }
  }
  .filter--active {
    .vxe-filter-wrapper {
      .vxe-filter--btn {
        color: $vxe-primary-color;
      }
    }
  }

  /*展开行*/
  .vxe-table--expanded {
    display: block;
    text-align: center;
    cursor: pointer;
    .vxe-table--expand-icon {
      display: inline-block;
      width: 6px;
      height: 6px;
      border: 1px solid #666;
      vertical-align: middle;
      border-width: 1px 1px 0 0;
      transform: rotate(45deg);
      background-color: transparent;
    }
    &.expand--active {
      .vxe-table--expand-icon {
        transform: rotate(135deg);
      }
    }
  }
  .vxe-body--expanded-column {
    border-bottom: 1px solid $vxe-table-border-color;
  }
  .vxe-body--expanded-cell {
    padding: 20px 50px;
  }

  /*固定列*/
  &.fixed--left,
  &.fixed--right,
  &.vxe-editable {
    .vxe-body--column {
      height: 48px;
      line-height: inherit;
    }
    &.size--medium {
      .vxe-body--column {
        height: 44px;
      }
    }
    &.size--small {
      .vxe-body--column {
        height: 40px;
      }
    }
    &.size--mini {
      .vxe-body--column {
        height: 36px;
      }
    }
  }

  /*暂无数据*/
  .vxe-table--empty-block {
    height: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .vxe-table--empty-text {
      display: block;
      width: 50%;
    }
  }

  /*校验不通过*/
  .vxe-body--column {
    &.col--valid-error {
      .vxe-input--wrapper {
        > .vxe-input {
          border-color: $vxe-table-validate-error-color;
        }
      }
    }
  }

  /*可编辑*/
  &.vxe-editable {
    .vxe-body--column {
      padding: 0;
      &.col--edit {
        &.col--actived {
          padding: 0;
        }
      }
      &.col--selected {
        box-shadow: inset 0 0 4px $vxe-primary-color;
      }
      &.col--dirty {
        position: relative;
        &:before {
          content: "";
          top: -5px;
          left: -5px;
          position: absolute;
          border: 5px solid;
          border-color: transparent $vxe-table-validate-error-color transparent transparent;
          transform: rotate(45deg);
        }
      }
    }
  }

}

/*筛选容器*/
.vxe-table--filter-wrapper {
  display: none;
  position: absolute;
  min-width: 80px;
  border-radius: 2px;
  color: $vxe-font-color;
  background-color: #fff;
  border: 1px solid $vxe-table-popup-border-color;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
  font-size: 13px;
  font-family: $vxe-font-family;
  &.filter--active {
    display: block;
  }
  .vxe-table--filter-body {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 240px;
    padding: 10px 10px 0 10px;
    overflow-x: hidden;
    overflow-y: auto;
    .vxe-table--filter-option {
      margin-bottom: 8px;
      &:hover {
        .vxe-table--filter-label {
          color: $vxe-primary-color;
        }
      }
      &.is--active {
        .vxe-table--filter-label {
          font-weight: 700;
          color: $vxe-primary-color;
        }
      }
      .vxe-checkbox {
        display: block;
        .checkbox--label {
          max-width: 360px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .vxe-table--filter-label {
        display: block;
        max-width: 360px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
      }
    }
  }
  .vxe-table--filter-footer {
    border-top: 1px solid $vxe-table-popup-border-color;
    padding: 8px;
    button {
      background-color: transparent;
      padding: 0 3px;
      border: 0;
      font-size: 13px;
      color: $vxe-font-color;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:hover {
        color: $vxe-primary-color;
      }
      &.is--disabled {
        color: #c0c4cc;
        cursor: not-allowed;
      }
    }
  }
}

/*快捷菜单*/
.vxe-table--ctxmenu-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 88;
  font-size: 12px;
  background-color: #FFF;
  border: 1px solid $vxe-table-popup-border-color;
  box-shadow: 2px 2px 4px -2px rgba(0,0,0,.2);
  padding: 0 1px;
  user-select: none;
  color: $vxe-font-color;
  font-family: $vxe-font-family;
  &.show {
    display: block;
  }
  .vxe-ctxmenu--option-wrapper {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #E8EAED;
    li {
      position: relative;
      margin: 1px 0;
      border: 1px solid transparent;
      &:last-child {
        border: 0;
      }
      &.link--active {
        color: #2B2B2B;
        background-color: #C5C5C5;
        border-color:#C5C5C5;
      }
      &.link--disabled {
        .vxe-ctxmenu--link {
          color: $vxe-disabled-color;
        }
        &.link--active {
          border-color:#C0C1C2;
          background-color: #EEEEEE;
          &:hover {
            background-color: inherit;
          }
        }
      }
    }
    .vxe-ctxmenu--link {
      display: block;
      padding: 0 30px;
      min-width: 120px;
      max-width: 180px;
      line-height: 26px;
      color: $vxe-font-color;
      .vxe-ctxmenu--link-prefix,
      .vxe-ctxmenu--link-suffix {
        position: absolute;
        top: 5px;
        margin-right: 5px;
        font-size: 16px;
      }
      .vxe-ctxmenu--link-prefix {
        left: 5px;
      }
      .vxe-ctxmenu--link-suffix {
        right: 5px;
        &.suffix--haschild {
          top: 8px;
          &:before {
            position: absolute;
            content: "";
            border: 4px solid transparent;
            border-left-color: #727272;
          }
        }
      }
      .vxe-ctxmenu--link-content {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .vxe-table--ctxmenu-clild-wrapper {
      .vxe-ctxmenu--link {
        max-width: 180px;
        padding: 0 20px 0 30px;
      }
    }
  }
}
.vxe-table--ctxmenu-clild-wrapper {
  @extend .vxe-table--ctxmenu-wrapper, .vxe-ctxmenu--option-wrapper;
  display: none;
  z-index: 99;
  top: 0;
  left: 100%;
  &.show {
    display: block;
  }
}


