%boxSizing {
  box-sizing: border-box;
}

%TextEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[class*="vxe-"] {
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
  @extend %boxSizing;
  &:after, &:before,
  *:after, *:before {
    @extend %boxSizing;
  }
}

.vxe-primary-color {
  color: var(--vxe-primary-color);
}
.vxe-success-color {
  color: var(--vxe-success-color);
}
.vxe-info-color {
  color: var(--vxe-info-color);
}
.vxe-warning-color {
  color: var(--vxe-warning-color);
}
.vxe-danger-color {
  color: var(--vxe-danger-color);
}
.vxe-perfect-color {
  color: var(--vxe-table-header-background-color);
}

// 24 栅格布局
.vxe-row {
  $spans: 4.16667%, 8.33333%, 12.5%, 16.66667%, 20.83333%, 25%, 29.16667%, 33.33333%,
          37.5%, 41.66667%, 45.83333%, 50%, 54.16667%, 58.33333%, 62.5%, 66.66667%,
          70.83333%, 75%, 79.16667%, 83.33333%, 87.5%, 91.66667%, 95.83333%, 100%;
  &:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  @for $index from 0 to length($spans) {
    & > .vxe-col--#{$index + 1} {
      float: left;
      width: nth($spans, $index + 1);
    }
  }
}

/*animat*/
.is--animat {
  .vxe-sort--asc-btn,
  .vxe-sort--desc-btn,
  .vxe-filter--btn {
    &:before,
    &:after {
      @include createAnimationTransition(border);
    }
  }
  .vxe-input--wrapper {
    .vxe-input {
      @include createAnimationTransition(border);
    }
  }
  .vxe-table--expand-btn,
  .vxe-tree--node-btn {
    @include createAnimationTransition(transform);
  }
  .vxe-checkbox,
  .vxe-radio {
    > input {
      &:checked+span {
        @include createAnimationTransition(background-color);
      }
    }
  }
}