%boxSizing {
  box-sizing: border-box;
}

[class*="vxe-"] {
  @extend %boxSizing;
  &:after, &:before,
  *:after, *:before {
    @extend %boxSizing;
  }
}

body {
  margin: 0;
  line-height: 1.5;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
}

/*animat*/
.t--animat {
  .vxe-sort--asc-btn,
  .vxe-sort--desc-btn,
  .vxe-filter--btn {
    &:before,
    &:after {
      @include animatTransition(border);
    }
  }
  .vxe-input--wrapper {
    .vxe-input {
      @include animatTransition(border);
    }
  }
  .vxe-table--expand-btn,
  .vxe-tree--node-btn {
    @include animatTransition(transform);
  }
  .vxe-checkbox,
  .vxe-radio {
    > input {
      &:checked+span {
        @include animatTransition(background-color);
      }
    }
  }
}