@use './base.scss';

[data-vxe-ui-theme="dark"] {
  color-scheme: dark;

  /*font color*/
  --vxe-ui-font-color: #a0a3a7;
  --vxe-ui-font-tinge-color: #33353b;
  --vxe-ui-font-lighten-color: #797b80;
  --vxe-ui-font-darken-color: #47494c;
  --vxe-ui-font-disabled-color: #464646;

  /*font status color*/
  --vxe-ui-font-primary-color: #409eff;

  /*base*/
  --vxe-ui-base-popup-border-color: #424242;
  --vxe-ui-base-popup-box-shadow: 0px 12px 30px 8px rgba(0, 0, 0, 0.5);

  /*layout*/
  --vxe-ui-layout-background-color: #121212;

  /*input*/
  --vxe-ui-input-border-color: #424242;
  --vxe-ui-input-placeholder-color: #8D9095;
  --vxe-ui-input-disabled-background-color: #262727;

  /*loading*/
  --vxe-ui-loading-background-color: rgba(255, 255, 255, 0.1);

  /*table*/
  --vxe-ui-table-header-background-color: #28282a;
  --vxe-ui-table-column-to-row-background-color: #28282a;
  --vxe-ui-table-column-hover-background-color: #242f3b;
  --vxe-ui-table-column-current-background-color: #18222c;
  --vxe-ui-table-column-hover-current-background-color: #242f3b;
  --vxe-ui-table-border-color: #37373a;
  --vxe-ui-table-row-hover-background-color: #262727;
  --vxe-ui-table-row-striped-background-color: #1D1D1D;
  --vxe-ui-table-row-hover-striped-background-color: #262727;
  --vxe-ui-table-row-radio-checked-background-color: #604820;
  --vxe-ui-table-row-hover-radio-checked-background-color: #6e5326;
  --vxe-ui-table-row-checkbox-checked-background-color: #604820;
  --vxe-ui-table-row-hover-checkbox-checked-background-color: #6e5326;
  --vxe-ui-table-row-current-background-color: #18222c;
  --vxe-ui-table-row-hover-current-background-color: #242f3b;
  --vxe-ui-table-fixed-scrolling-box-shadow-color: rgba(0, 0, 0, 0.8);
  --vxe-ui-table-drag-over-background-color:rgba(48, 48, 0, 0.3);
}
