/**Variable**/

.vxe-table--body-wrapper,
.vxe-table--fixed-left-body-wrapper,
.vxe-table--fixed-right-body-wrapper {
  overflow-y: auto;
  overflow-x: auto;
}

.vxe-table--borders {
  .vxe-table-border-top,
  .vxe-table-border-right,
  .vxe-table-border-bottom,
  .vxe-table-border-left {
    position: absolute;
    background-color: $vxe-primary-color;
  }
  .vxe-table-checked-borders {
    .vxe-table-border-top,
    .vxe-table-border-bottom {
      height: $vxe-table-column-checked-border-width;
    }
    .vxe-table-border-right,
    .vxe-table-border-left {
      width: $vxe-table-column-checked-border-width;
    }
  }
  .vxe-table-copyed-borders {
    .vxe-table-border-top,
    .vxe-table-border-bottom {
      height: #{$vxe-table-column-checked-border-width + 1};
    }
    .vxe-table-border-right,
    .vxe-table-border-left {
      width: #{$vxe-table-column-checked-border-width + 1};
    }
    & > span {
      background: repeating-linear-gradient(135deg, transparent, transparent 3px, $vxe-primary-color 3px, $vxe-primary-color 9px);
      animation: shine 1s infinite linear;
    }
  }
}

.vxe-body--row {
  .vxe-body--column {
    &.col--checked {
      position: relative;
      background-color: $vxe-table-column-checked-background-color;
      border-right-color: $vxe-table-column-checked-border-color;
      border-bottom-color: $vxe-table-column-checked-border-color;
    }
    &.col--selected {
      background-color: #fff;
    }
  }
}

@keyframes shine {
  0% {
    background-position: -1px -1px;
  }
  100% {
    background-position: -12px -12px;
  }
}