/**Variable**/
@import './helpers/placeholders.scss';
@import './helpers/mixin.scss';

.vxe-table--body-wrapper,
.vxe-table--fixed-left-body-wrapper,
.vxe-table--fixed-right-body-wrapper {
  overflow-y: auto;
  overflow-x: auto;
}