/**Variable**/

/*checkbox*/
.vxe-checkbox {
  display: inline;
  user-select: none;
  cursor: pointer;
  &+.vxe-checkbox {
    margin-left: 10px;
  }
  > input {
    display: none;
    &+.vxe-checkbox--icon {
      position: relative;
      display: inline-block;
      width: 1em;
      height: 1em;
      border: 2px solid $vxe-input-border-color;
      background-color: #fff;
      vertical-align: middle;
      border-radius: 0.2em;
      font-size: 1.2em;
      &:before {
        content: "";
        position: absolute;
      }
    }
    &:checked+.vxe-checkbox--icon {
      background-color: $vxe-primary-color;
      border-color: $vxe-primary-color;
      &:before {
        height: 0.64em;
        width: 0.32em;
        left: 0.24em;
        bottom: 0.1em;
        border-width: 0.12em;
        border-style: solid;
        border-color: #fff;
        border-left: 0;
        border-top: 0;
        transform: rotate(45deg);
      }
      &+.vxe-checkbox--label {
        color: $vxe-primary-color;
      }
    }
  }
  &.is--indeterminate {
    > input {
      &:not(:checked) {
        &+.vxe-checkbox--icon {
          background-color: $vxe-primary-color;
          border-color: $vxe-primary-color;
          &:before {
            top: 50%;
            height: 0.15em;
            width: 100%;
            transform: translateY(-50%) scale(.6);
            border: 0;
            background-color: #fff;
          }
        }
      }
    }
  }
  &:not(.is--disabled) {
    &:hover {
      > input {
        &+.vxe-checkbox--icon {
          border-color: $vxe-primary-color;
        }
      }
    }
  }
  &.is--disabled {
    cursor: not-allowed;
    > input {
      &+.vxe-checkbox--icon {
        border-color: $vxe-input-disabled-color;
        background-color: $vxe-input-disabled-background-color;
        &:before {
          border-color: #c0c4cc;
        }
        &+.vxe-checkbox--label {
          color: $vxe-input-disabled-color;
        }
      }
      &:checked+.vxe-checkbox--icon {
        border-color: $vxe-input-disabled-color;
        background-color: $vxe-input-disabled-background-color;
      }
    }
  }
  .vxe-checkbox--label {
    padding-left: 5px;
    vertical-align: middle;
    display: inline-block;
  }
}