/**Variable**/
@import './helpers/mixin.scss';
@import './base/common.scss';
@import './base/checked.scss';

/*checkbox-group*/
.vxe-checkbox-group {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

/*checkbox*/
.vxe-checkbox {
  @extend %XECheckboxIcon;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  line-height: 1;
  &+.vxe-checkbox {
    margin-left: 10px;
  }
  > input {
    &[type="checkbox"] {
      position: absolute;
      width: 0;
      height: 0;
      border: 0;
      appearance: none;
    }
  }
  &.is--indeterminate {
    > input {
      &:not(:checked) {
        &+.vxe-checkbox--icon {
          color: var(--vxe-primary-color);
        }
      }
    }
  }
  &:not(.is--disabled) {
    & > input {
      &:focus {
        &+.vxe-checkbox--icon {
          color: var(--vxe-primary-color);
          box-shadow: 0 0 0.2em 0 var(--vxe-primary-color);
        }
      }
    }
    &:hover {
      > input {
        &+.vxe-checkbox--icon {
          border-color: var(--vxe-primary-color);
        }
      }
    }
  }
  &.is--disabled {
    cursor: not-allowed;
    > input {
      &+.vxe-checkbox--icon {
        color: var(--vxe-input-disabled-color);
        &+.vxe-checkbox--label {
          color: var(--vxe-font-disabled-color);
        }
      }
      &:checked+.vxe-checkbox--icon {
        color: var(--vxe-input-disabled-color);
      }
    }
  }
  .vxe-checkbox--label {
    padding-left: 0.5em;
    vertical-align: middle;
    display: inline-block;
    max-width: 50em;
    @extend %TextEllipsis;
  }
}

.vxe-checkbox {
  font-size: var(--vxe-font-size);
  &.size--medium {
    font-size: var(--vxe-font-size-medium);
  }
  &.size--small {
    font-size: var(--vxe-font-size-small);
  }
  &.size--mini {
    font-size: var(--vxe-font-size-mini);
  }
}