/**Variable**/

/*checkbox-group*/
.vxe-checkbox-group {
  display: inline-block;
}

/*checkbox*/
.vxe-checkbox {
  display: inline;
  user-select: none;
  cursor: pointer;
  &+.vxe-checkbox {
    margin-left: 10px;
  }
  > input {
    display: none;
    &+.vxe-checkbox--icon {
      position: relative;
      display: inline-block;
      width: 1em;
      height: 1em;
      background-color: #fff;
      vertical-align: middle;
      border-radius: $vxe-checkbox-border-radius;
      border: $vxe-checkbox-border-width solid $vxe-input-border-color;
      &:before {
        content: "";
        position: absolute;
      }
    }
    &:checked+.vxe-checkbox--icon {
      background-color: $vxe-primary-color;
      border-color: $vxe-primary-color;
      &:before {
        height: 0.64em;
        width: 0.32em;
        top: 0;
        left: 0.2em;
        bottom: 0.1em;
        border-width: 0.12em;
        border-style: solid;
        border-color: #fff;
        border-left: 0;
        border-top: 0;
        transform: rotate(45deg);
      }
      &+.vxe-checkbox--label {
        color: $vxe-primary-color;
      }
    }
  }
  &.is--indeterminate {
    > input {
      &:not(:checked) {
        &+.vxe-checkbox--icon {
          background-color: $vxe-primary-color;
          border-color: $vxe-primary-color;
          &:before {
            border: 0;
            left: -0.15em;
            top: 0.3em;
            height: 0.18em;
            width: 1em;
            background-color: #ffffff;
            transform: scale(.6);
          }
        }
      }
    }
  }
  &:not(.is--disabled) {
    &:hover {
      > input {
        &+.vxe-checkbox--icon {
          border-color: $vxe-primary-color;
        }
      }
    }
  }
  &.is--disabled {
    cursor: not-allowed;
    > input {
      &+.vxe-checkbox--icon {
        border-color: $vxe-input-disabled-color;
        background-color: $vxe-input-disabled-background-color;
        &:before {
          border-color: #c0c4cc;
        }
        &+.vxe-checkbox--label {
          color: $vxe-input-disabled-color;
        }
      }
      &:checked+.vxe-checkbox--icon {
        border-color: $vxe-input-disabled-color;
        background-color: $vxe-input-disabled-background-color;
      }
    }
  }
  .vxe-checkbox--label {
    padding-left: 0.5em;
    vertical-align: middle;
    display: inline-block;
  }
}

.vxe-checkbox {
  .vxe-checkbox--icon {
    font-size: $vxe-checkbox-font-size-default;
  }
  &.size--medium {
    .vxe-checkbox--icon {
      font-size: $vxe-checkbox-font-size-medium;
    }
  }
  &.size--small {
    .vxe-checkbox--icon {
      font-size: $vxe-checkbox-font-size-small;
    }
  }
  &.size--mini {
    .vxe-checkbox--icon {
      font-size: $vxe-checkbox-font-size-mini;
    }
  }
}