/**Variable**/
@import './base/checked.scss';

.vxe-custom--panel-column {
  & .vxe-custom--panel-column-header,
  & .vxe-custom--panel-column-body {
    list-style-type: none;
    margin: 0;
    padding: 0;
    user-select: none;
    & > .vxe-custom--panel-column-option {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
    }
  }
}

.vxe-custom--panel-list {
  .vxe-list--virtual-wrapper {
    height: auto;
    max-height: 20em;
  }
}

.vxe-custom--panel {
  .vxe-custom--panel-column {
    border: 1px solid $vxe-input-border-color;
    margin: 3px 0;
    border-radius: $vxe-border-radius;
    user-select: none;
    & .vxe-custom--panel-column-header,
    & .vxe-custom--panel-column-body {
      & > .vxe-custom--panel-column-option {
        padding: 0.2em 20em 0.2em 2.3em;
        @for $i from 2 through 8 {
          $interval: $i - 1 + 0.2;
          &.level--#{$i}{
            padding-left: #{$interval + 2.3}em;
            .vxe-checkbox--icon {
              left: #{$interval + 0.6}em;
            }
          }
        }
      }
    }
    .vxe-custom--panel-column-header {
      padding: 0.1em 0;
      background-color: #f8f8f9;
      font-weight: 700;
      border-bottom: 1px solid #DADCE0;
    }
    .vxe-custom--panel-column-body {
      padding: 0.2em 0;
    }
  }
  .vxe-custom--panel-btns {
    text-align: right;
    padding: 0.25em;
  }
}

.vxe-custom--panel-column-option {
  @extend %XECheckbox;
  .vxe-checkbox--icon {
    left: 0.6em;
    top: 0.38em;
  }
  &:hover {
    background-color: $vxe-table-row-hover-background-color;
  }
}

.vxe-modal--wrapper {
  .vxe-custom--panel-column-option {
    & > .vxe-checkbox--icon {
      font-size: $vxe-checkbox-font-size-default;
    }
  }
  &.size--medium {
    .vxe-custom--panel-column-option {
      & > .vxe-checkbox--icon {
        font-size: $vxe-checkbox-font-size-medium;
      }
    }
  }
  &.size--small {
    .vxe-custom--panel-column-option {
      & > .vxe-checkbox--icon {
        font-size: $vxe-checkbox-font-size-small;
      }
    }
  }
  &.size--mini {
    .vxe-custom--panel-column-option {
      & > .vxe-checkbox--icon {
        font-size: $vxe-checkbox-font-size-mini;
      }
    }
  }
}