@use './helpers/baseMixin.scss';

.vxe-drawer--wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  line-height: 1.5;
  width: calc(100% + 18px);
  height: calc(100% + 18px);
  color: var(--vxe-font-color);
  font-family: var(--vxe-font-family);
  &.is--active {
    display: block;
  }
  &.is--visible {
    &.is--mask {
      &:before {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
    
  &.pos--left {
    .vxe-drawer--box {
      left: 0;
    }
  }
    &.pos--right {
      .vxe-drawer--box {
        right: 0;
      }
    }
    &.pos--top {
      .vxe-drawer--box {
        top: 0;
      }
    }
    &.pos--bottom {
      .vxe-drawer--box {
        bottom: 0;
      }
    }
    .vxe-drawer--box {
      opacity: 1;
    }
  }
  &.is--loading {
    .vxe-drawer--header,
    .vxe-drawer--footer {
      position: relative;
      border-bottom-color: var(--vxe-loading-background-color);
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        user-select: none;
        background-color: var(--vxe-loading-background-color);
      }
    }
  }
  &:not(.lock--view) {
    pointer-events: none;
  }
  &.lock--scroll {
    overflow: hidden;
  }
  &:not(.lock--scroll) {
    overflow: auto;
  }
  &.lock--view,
  &.is--mask {
    &:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      pointer-events: auto;
    }
  }
  &.is--mask {
    &:before {
      background-color: rgba(0, 0, 0, 0);
      @include baseMixin.createAnimationTransition(background-color, 0.2s);
    }
  }
  &.pos--left {
    .vxe-drawer--box {
      top: 0;
      left: -100%;
      box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.2);
    }
  }
  &.pos--right {
    .vxe-drawer--box {
      top: 0;
      right: -100%;
      box-shadow: -2px 0 10px 0 rgba(0, 0, 0, 0.2);
    }
  }
  &.pos--top {
    .vxe-drawer--box {
      top: -100%;
      left: 0;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    }
  }
  &.pos--bottom {
    .vxe-drawer--box {
      bottom: -100%;
      left: 0;
      box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.2);
    }
  }
  &.pos--left,
  &.pos--right {
    .vxe-drawer--box {
      width: 30%;
      height: 100%;
    }
  }
  &.pos--top,
  &.pos--bottom {
    .vxe-drawer--box {
      width: 100%;
      height: 30%;
    }
  }

  .vxe-drawer--box {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--vxe-drawer-body-background-color);
    border: 1px solid var(--vxe-drawer-border-color);
    text-align: left;
    pointer-events: auto;
    opacity: 0;
    @include baseMixin.createAnimationTransition(all, 0.3s);
  }
  .vxe-drawer--content {
    flex-grow: 1;
    padding: 0.8em 1em;
    white-space: pre-line;
  }
  .vxe-drawer--header,
  .vxe-drawer--body,
  .vxe-drawer--footer {
    position: relative;
  }
  .vxe-drawer--body {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    .vxe-drawer--content {
      overflow: auto;
    }
  }
  .vxe-drawer--header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-size: 1.1em;
    font-weight: 700;
    border-bottom: 1px solid var(--vxe-drawer-border-color);
    background-color: var(--vxe-drawer-header-background-color);
    &.is--ellipsis {
      .vxe-drawer--header-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .vxe-drawer--header-title {
    flex-grow: 1;
    padding: 0.6em 0 0.6em 1em;
  }
  .vxe-drawer--header-right {
    flex-shrink: 0;
    padding: 0.6em 1em 0.6em 0;
  }
  .vxe-drawer--close-btn {
    cursor: pointer;
    margin-left: 0.6em;
    &:hover {
      color: var(--vxe-primary-color);
    }
  }
  .vxe-drawer--footer {
    flex-shrink: 0;
    text-align: right;
    padding: 0.4em 1em 0.8em 1em;
  }
}

.vxe-drawer--wrapper {
  font-size: var(--vxe-font-size);
  &.size--medium {
    font-size: var(--vxe-font-size-medium);
  }
  &.size--small {
    font-size: var(--vxe-font-size-small);
  }
  &.size--mini {
    font-size: var(--vxe-font-size-mini);
  }
}