/**Variable**/

.vxe-table--footer-wrapper {
  color: $vxe-table-footer-font-color;
  margin-top: -1px;
  &.body--wrapper{
    overflow-x: auto;
  }
}

.vxe-footer--column {
  &.col--ellipsis {
    & > .vxe-cell {
      display: flex;
      align-items: center;
      .vxe-cell--item {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
