@use 'sass:list';

%ButtonHover {
  color: var(--vxe-primary-lighten-color);
  border-color: var(--vxe-primary-lighten-color);
}

.vxe-form {
  position: relative;
  font-size: var(--vxe-font-size);
  color: var(--vxe-font-color);
  font-family: var(--vxe-font-family);
  background-color: var(--vxe-form-background-color);
  text-align: left;
}

.vxe-form--item-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  $spans: 4.16667%, 8.33333%, 12.5%, 16.66667%, 20.83333%, 25%, 29.16667%, 33.33333%,
          37.5%, 41.66667%, 45.83333%, 50%, 54.16667%, 58.33333%, 62.5%, 66.66667%,
          70.83333%, 75%, 79.16667%, 83.33333%, 87.5%, 91.66667%, 95.83333%, 100%;
  @for $index from 0 to list.length($spans) {
    & > .vxe-form--item-col_#{$index + 1} {
      width: list.nth($spans, $index + 1);
    }
  }
}

.vxe-form-slots {
  display: none;
}

.vxe-form--item-content,
.vxe-form--item-trigger-node {
  display: inline-block;
  vertical-align: middle;
}

.vxe-form--item-title {
  display: flex;
  flex-direction: row;
  max-width: 320px;
  padding-right: 0.8em;
  &.is--ellipsis {
    .vxe-form--item-title-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .vxe-form--item-title-prefix,
  .vxe-form--item-title-suffix,
  .vxe-form--item-title-postfix {
    flex-shrink: 0;
  }
  .vxe-form--item-title-prefix,
  .vxe-form--item-title-suffix {
    cursor: help;
    vertical-align: middle;
  }
  .vxe-form--item-title-prefix {
    margin-right: 0.25em;
  }
  .vxe-form--item-title-suffix {
    margin-left: 0.2em;
  }
  .vxe-form--item-title-postfix {
    display: flex;
    align-items: center;
  }
  .vxe-form--item-title-content {
    flex-grow: 1;
  }
  .vxe-form--item-title-label {
    vertical-align: middle;
  }
}

.vxe-form--item-trigger-node {
  font-size: 12px;
  min-width: 100px;
  color: #909399;
  text-align: center;
  user-select: none;
  cursor: pointer;
  .vxe-form--item-trigger-icon {
    display: inline-block;
    margin: 0 0.25em;
    transition: all 0.1s;
  }
}

.vxe-form--item-valid {
  position: absolute;
  width: 100%;
  font-size: 12px;
  line-height: 1.2em;
  color: var(--vxe-form-validate-error-color);
  background-color: var(--vxe-form-validate-error-background-color);
  z-index: 1;
  opacity: 0;
  transform-origin: center top;
  transform: scaleY(0);
  transition: all 0.2s ease-in-out;
}

.vxe-form {
  .vxe-form--gather {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .vxe-form--wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .vxe-form--item {
    display: none;
    padding: 0.5em 0.8em 0.5em 0;
    &.is--vertical {
      padding: 0.25em 0 0.25em 0;
    }
    &.is--active {
      &:not(.is--hidden) {
        display: inline-flex;
      }
    }
  }
}

.vxe-form--item {
  &.is--colon {
    .vxe-form--item-title-postfix {
      &:after {
        content: ":";
        font-weight: normal;
        margin-left: 0.2em;
      }
    }
  }
  &.is--asterisk {
    &.is--required {
      .vxe-form--item-title-content {
        &:before {
          content: "*";
          color: var(--vxe-form-validate-error-color);
          font-family: Verdana,Arial,Tahoma;
          margin-right: 0.2em;
          font-weight: normal;
          vertical-align: middle;
        }
      }
    }
  }
  &.is--vertical {
    .vxe-form--item-inner {
      flex-direction: column;
      align-items: initial;
      .vxe-form--item-title {
        height: 2.2em;
        line-height: 2.2em;
        padding-right: 0;
        max-width: none;
      }
      .vxe-form--item-title-content {
        flex-grow: initial;
      }
    }
  }
  &.is--span {
    .vxe-default-input:not([type="submit"]):not([type="reset"]),
    .vxe-default-textarea,
    .vxe-default-select,
    .vxe-input,
    .vxe-textarea,
    .vxe-select {
      width: 100%;
    }
  }
  &.is--error {
    .vxe-input > .vxe-input--inner,
    .vxe-textarea > .vxe-textarea--inner,
    .vxe-select,
    .vxe-select.is--active > .vxe-input .vxe-input--inner,
    .vxe-default-input,
    .vxe-default-textarea,
    .vxe-default-select {
      border-color: var(--vxe-form-validate-error-color);
    }
    .vxe-input>.vxe-input--inner,
    .vxe-textarea>.vxe-textarea--inner,
    .vxe-default-input[type="text"],
    .vxe-default-input[type="search"],
    .vxe-default-textarea,
    .vxe-default-select {
      &:focus {
        border-color: var(--vxe-form-validate-error-color);
      }
    }
    .vxe-form--item-valid {
      opacity: 1;
      transform: scaleY(1);
    }
  }
  .vxe-form--item-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    .vxe-form--item-title {
      flex-shrink: 0;
    }
    .vxe-form--item-content {
      position: relative;
      flex-grow: 1;
      word-break: break-all;
    }
  }
  .vxe-default-input,
  .vxe-default-textarea,
  .vxe-default-select {
    outline: 0;
    border: 1px solid var(--vxe-input-border-color);
    border-radius: var(--vxe-border-radius);
  }
  .vxe-default-input,
  .vxe-default-select {
    height: var(--vxe-button-height-default);
  }
  .vxe-default-input {
    padding: 0 0.8em;
  }
  .vxe-default-textarea {
    height: calc(var(--vxe-button-height-default) * 2);
    padding: 0.3em 0.6em;
  }
  .vxe-default-input[type="number"] {
    padding-right: 0.2em;
  }
  .vxe-default-input[type="text"],
  .vxe-default-input[type="search"] {
    padding: 0 1em;
  }
  .vxe-default-input[type="text"],
  .vxe-default-input[type="search"],
  .vxe-default-textarea,
  .vxe-default-select {
    color: var(--vxe-font-color);
    &:focus {
      border: 1px solid var(--vxe-primary-color);
    }
    &[disabled] {
      cursor: not-allowed;
      background-color: var(--vxe-input-disabled-background-color);
    }
  }
  .vxe-default-input[type="submit"],
  .vxe-default-input[type="reset"] {
    line-height: calc(var(--vxe-button-height-default) - 2px);
    background-color: #fff;
    cursor: pointer;
    &:hover {
      @extend %ButtonHover;
    }
    &:active {
      color: var(--vxe-primary-darken-color);
      border-color: var(--vxe-primary-darken-color);
    }
  }
  .vxe-default-input {
    &[type="date"]::-webkit-inner-spin-button {
      margin-top: 6px;
    }
    &[type="date"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      height: 24px;
    }
    &::placeholder {
      color: var(--vxe-input-placeholder-color);
    }
  }
  .vxe-default-input[type="text"],
  .vxe-default-input[type="search"],
  .vxe-default-textarea,
  .vxe-default-select {
    width: 180px;
  }
  .vxe-default-textarea {
    resize: none;
    vertical-align: middle;
    &::placeholder {
      color: var(--vxe-input-placeholder-color);
    }
  }
}

.vxe-form {
  .vxe-form--item-inner {
    min-height: var(--vxe-form-item-min-height-default);
    & > .align--center {
      text-align: center;
    }
    & > .align--left {
      text-align: left;
    }
    & > .align--right {
      text-align: right;
    }
  }
  &.size--medium {
    font-size: var(--vxe-font-size-medium);
    .vxe-form--item-inner {
      min-height: var(--vxe-form-item-min-height-medium);
    }
    .vxe-default-input[type="submit"],
    .vxe-default-input[type="reset"] {
      line-height: calc(var(--vxe-button-height-medium) - 2px);
    }
    .vxe-default-input,
    .vxe-default-select {
      height: var(--vxe-button-height-medium);
    }
    .vxe-default-textarea {
      height: calc(var(--vxe-button-height-medium) * 2);
    }
  }
  &.size--small {
    font-size: var(--vxe-font-size-small);
    .vxe-form--item-inner {
      min-height: var(--vxe-form-item-min-height-small);
    }
    .vxe-default-input[type="submit"],
    .vxe-default-input[type="reset"] {
      line-height: calc(var(--vxe-button-height-small) - 2px);
    }
    .vxe-default-input,
    .vxe-default-select {
      height: var(--vxe-button-height-small);
    }
    .vxe-default-textarea {
      height: calc(var(--vxe-button-height-small) * 2);
    }
  }
  &.size--mini {
    font-size: var(--vxe-font-size-mini);
    .vxe-form--item-inner {
      min-height: var(--vxe-form-item-min-height-mini);
    }
    .vxe-default-input[type="submit"],
    .vxe-default-input[type="reset"] {
      line-height: calc(var(--vxe-button-height-mini) - 2px);
    }
    .vxe-default-input,
    .vxe-default-select {
      height: var(--vxe-button-height-mini);
    }
    .vxe-default-textarea {
      height: calc(var(--vxe-button-height-mini) * 2);
    }
  }
}