/**Variable**/
%ButtonHover {
  color: lighten($vxe-primary-color, 6%);
  border-color: lighten($vxe-primary-color, 10%);
}

.vxe-form {
  position: relative;
  font-size: $vxe-font-size;
  color: $vxe-font-color;
  font-family: $vxe-font-family;
  background-color: $vxe-form-background-color;
  text-align: left;
}

.vxe-form-slots {
  display: none;
}

.vxe-form--item-content,
.vxe-form--item-trigger-node {
  display: inline-block;
  vertical-align: middle;
}

.vxe-form--item-title {
  display: flex;
  flex-direction: row;
  max-width: 320px;
  padding-right: 0.8em;
  &.is--ellipsis {
    .vxe-form--item-title-content {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .vxe-form--item-title-prefix,
  .vxe-form--item-title-suffix,
  .vxe-form--item-title-postfix {
    flex-shrink: 0;
  }
  .vxe-form--item-title-prefix,
  .vxe-form--item-title-suffix {
    cursor: help;
    vertical-align: middle;
    & > i {
      vertical-align: middle;
    }
  }
  .vxe-form--item-title-prefix {
    margin-right: 0.25em;
  }
  .vxe-form--item-title-suffix {
    margin-left: 0.2em;
  }
  .vxe-form--item-title-postfix {
    display: flex;
    align-items: center;
  }
  .vxe-form--item-title-content {
    flex-grow: 1;
  }
  .vxe-form--item-title-label {
    vertical-align: middle;
  }
}

.vxe-form--item-trigger-node {
  font-size: 12px;
  min-width: 100px;
  color: #909399;
  text-align: center;
  user-select: none;
  cursor: pointer;
  .vxe-form--item-trigger-icon {
    margin: 0 0.25em;
    transition: all 0.1s;
  }
}

.vxe-form--item-valid {
  position: absolute;
  width: 100%;
  font-size: 12px;
  line-height: 1.2em;
  color: $vxe-form-validate-error-color;
  background-color: $vxe-form-validate-error-background-color;
  z-index: 1;
  opacity: 0;
  transform-origin: center top;
  transform: scaleY(0);
  transition: all 0.2s ease-in-out;
}

.vxe-form {
  .vxe-form--gather {
    display: inline-block;
  }
  .vxe-form--item {
    display: none;
    padding: 0.5em 0.8em 0.5em 0;
    &.is--active {
      &:not(.is--hidden) {
        display: inline-block;
      }
    }
  }
  &.is--asterisk {
    .vxe-form--item {
      &.is--required {
        .vxe-form--item-title-content {
          &:before {
            content: "*";
            color: $vxe-form-validate-error-color;
            font-family: Verdana,Arial,Tahoma;
            margin-right: 0.2em;
            font-weight: normal;
            vertical-align: middle;
          }
        }
      }
    }
  }
  &.is--colon {
    .vxe-form--item-title-postfix {
      &:after {
        content: ":";
        font-weight: normal;
        margin-left: 0.2em;
      }
    }
  }
}

.vxe-form--item {
  &.is--span {
    .vxe-default-input:not([type="submit"]):not([type="reset"]),
    .vxe-default-textarea,
    .vxe-default-select,
    .vxe-input,
    .vxe-textarea,
    .vxe-select {
      width: 100%;
    }
  }
  &.is--error {
    .vxe-input > .vxe-input--inner,
    .vxe-textarea > .vxe-textarea--inner,
    .vxe-select,
    .vxe-select.is--active > .vxe-input .vxe-input--inner,
    .vxe-default-input,
    .vxe-default-textarea,
    .vxe-default-select {
      border-color: $vxe-form-validate-error-color;
    }
    .vxe-input>.vxe-input--inner,
    .vxe-textarea>.vxe-textarea--inner,
    .vxe-default-input[type="text"],
    .vxe-default-input[type="search"],
    .vxe-default-textarea,
    .vxe-default-select {
      &:focus {
        border-color: $vxe-form-validate-error-color;
      }
    }
    .vxe-form--item-valid {
      opacity: 1;
      transform: scaleY(1);
    }
  }
  .vxe-form--item-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    .vxe-form--item-title {
      flex-shrink: 0;
    }
    .vxe-form--item-content {
      position: relative;
      flex-grow: 1;
    }
  }
  .vxe-default-input,
  .vxe-default-textarea,
  .vxe-default-select {
    outline: 0;
    border: 1px solid $vxe-input-border-color;
    border-radius: $vxe-border-radius;
  }
  .vxe-default-input,
  .vxe-default-select {
    height: $vxe-button-height-default;
  }
  .vxe-default-input {
    padding: 0 0.8em;
  }
  .vxe-default-textarea {
    padding: 0.3em 0.6em;
  }
  .vxe-default-input[type="number"] {
    padding-right: 0.2em;
  }
  .vxe-default-input[type="text"],
  .vxe-default-input[type="search"] {
    padding: 0 1em;
  }
  .vxe-default-input[type="text"],
  .vxe-default-input[type="search"],
  .vxe-default-textarea,
  .vxe-default-select {
    color: $vxe-font-color;
    &:focus {
      border: 1px solid $vxe-primary-color;
    }
    &[disabled] {
      cursor: not-allowed;
      background-color: $vxe-input-disabled-background-color;
    }
  }
  .vxe-default-input[type="submit"],
  .vxe-default-input[type="reset"] {
    line-height: $vxe-button-height-default - 2px;
    background-color: #fff;
    cursor: pointer;
    &:hover {
      @extend %ButtonHover;
    }
    &:active {
      color: darken($vxe-primary-color, 2%);
      border-color: darken($vxe-primary-color, 2%);
    }
  }
  .vxe-default-input {
    &[type="date"]::-webkit-inner-spin-button {
      margin-top: 6px;
    }
    &[type="date"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      height: 24px;
    }
    &::placeholder {
      color: $vxe-input-placeholder-color;
    }
  }
  .vxe-default-input[type="text"],
  .vxe-default-input[type="search"],
  .vxe-default-textarea,
  .vxe-default-select {
    width: 180px;
  }
  .vxe-default-textarea {
    resize: none;
    vertical-align: middle;
    &::placeholder {
      color: $vxe-input-placeholder-color;
    }
  }
}

.vxe-form {
  .vxe-form--item-inner {
    min-height: $vxe-form-item-min-height-default;
    & > .align--center {
      text-align: center;
    }
    & > .align--left {
      text-align: left;
    }
    & > .align--right {
      text-align: right;
    }
  }
  &.size--medium {
    font-size: $vxe-font-size-medium;
    .vxe-form--item-inner {
      min-height: $vxe-form-item-min-height-medium;
    }
    .vxe-default-input[type="submit"],
    .vxe-default-input[type="reset"] {
      line-height: $vxe-button-height-medium - 2px;
    }
    .vxe-default-input,
    .vxe-default-input,
    .vxe-default-select {
      height: $vxe-button-height-medium;
    }
  }
  &.size--small {
    font-size: $vxe-font-size-small;
    .vxe-form--item-inner {
      min-height: $vxe-form-item-min-height-small;
    }
    .vxe-default-input[type="submit"],
    .vxe-default-input[type="reset"] {
      line-height: $vxe-button-height-small - 2px;
    }
    .vxe-default-input,
    .vxe-default-input,
    .vxe-default-select {
      height: $vxe-button-height-small;
    }
  }
  &.size--mini {
    font-size: $vxe-font-size-mini;
    .vxe-form--item-inner {
      min-height: $vxe-form-item-min-height-mini;
    }
    .vxe-default-input[type="submit"],
    .vxe-default-input[type="reset"] {
      line-height: $vxe-button-height-mini - 2px;
    }
    .vxe-default-input,
    .vxe-default-input,
    .vxe-default-select {
      height: $vxe-button-height-mini;
    }
  }
}