/**Variable**/

.vxe-grid {
  position: relative;
  &.is--loading {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 99;
      user-select: none;
      background-color: $vxe-loading-background-color;
    }
    & > .vxe-table {
      .vxe-loading {
        background-color: transparent;
      }
    }
  }
  &.is--maximize {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.5em 1em;
    background-color: $vxe-grid-maximize-background-color;
  }
  .vxe-grid--form-wrapper,
  .vxe-grid--top-wrapper,
  .vxe-grid--bottom-wrapper  {
    position: relative;
  }
  .vxe-grid--table-container {
    display: flex;
    flex-direction: row;
  }
  .vxe-grid--left-wrapper,
  .vxe-grid--right-wrapper {
    flex-shrink: 0;
    overflow: auto;
  }
  .vxe-grid--table-wrapper {
    flex-grow: 1;
    overflow: hidden;
  }
}

.vxe-grid {
  font-size: $vxe-font-size;
  &.size--medium {
    font-size: $vxe-font-size-medium;
  }
  &.size--small {
    font-size: $vxe-font-size-small;
  }
  &.size--mini {
    font-size: $vxe-font-size-mini;
  }
}
