/**Variable**/

.vxe-grid {
  &.is--maximize {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 1em;
    background-color: #fff;
  }
  .vxe-body--row {
    &.row--pending {
      color: $vxe-table-validate-error-color;
      text-decoration: line-through;
      cursor: no-drop;
      .vxe-body--column {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 0;
          border-bottom: 1px solid $vxe-table-validate-error-color;
          z-index: 1;
        }
      }
    }
  }
  .vxe-form {
    position: relative;
    &.is--loading {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        user-select: none;
        background-color: $vxe-loading-background-color;
      }
    }
  }
}
