/**Variable**/

.vxe-table {
  .vxe-table--header-wrapper {
    overflow: hidden;
    .vxe-table--repair {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      background-color: $vxe-table-border-color;
    }
  }
  &:not(.b--style-none) {
    .vxe-table--header-wrapper {
      background-color: $vxe-table-header-background-color;
    }
  }
}

.vxe-table--fixed-right-wrapper {
  .vxe-header--column {
    .vxe-resizable {
      right: auto;
      left: -7px;
    }
  }
}