/**Variable**/

.vxe-table {
  .vxe-table--header-wrapper {
    .vxe-table--repair {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 0;
      border-bottom: 1px solid $vxe-table-border-color;
    }
  }
  &:not(.b--style-none) {
    .vxe-table--header-wrapper {
      background-color: $vxe-table-header-background-color;
    }
  }
}

.vxe-header--column {
  position: relative;
  user-select: none;
  &.col--title-checked {
    background-color: $vxe-table-column-header-checked-background-color;
  }
  .vxe-required-icon {
    display: inline-block;
    color: $vxe-table-validate-error-color;
    vertical-align: middle;
    width: 0.85em;
    height: 1em;
    line-height: 1em;
    font-family: $vxe-icon-font-family;
    font-weight: normal;
    position: relative;
    &:before {
      content: "*";
      position: absolute;
      left: 0;
    }
  }
  .vxe-edit-icon {
    margin-right: 0.2em;
  }
  .vxe-resizable {
    position: absolute;
    right: -7px;
    bottom: 0;
    width: 14px;
    height: 100%;
    text-align: center;
    z-index: 1;
    cursor: col-resize;
    &.is--line {
      &:before,
      &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
      }
      &:before {
        width: 1px;
        height: 50%;
        background-color: $vxe-table-resizable-color;
      }
      &:after {
        width: 0;
        height: 100%;
      }
    }
  }
}

.vxe-table--fixed-right-wrapper {
  .vxe-header--column {
    .vxe-resizable {
      right: auto;
      left: -7px;
    }
  }
}
