/**Variable**/

/*input*/
.vxe-input--wrapper {
  font-size: $vxe-font-size;
  display: inline-block;
  &.type--textarea {
    width: 100%;
  }
  .vxe-input,
  .vxe-textarea {
    border-radius: 4px;
    outline: 0;
    padding: 0 8px;
    width: 100%;
    color: $vxe-font-color;
    border: 1px solid $vxe-input-border-color;
    background-color: #FFF;
    &:focus {
      border: 1px solid $vxe-primary-color;
    }
    &[disabled] {
      cursor: not-allowed;
      background-color: $vxe-input-disabled-color;
    }
  }
  .vxe-input {
    height: 40px;
    &[type="date"]::-webkit-inner-spin-button {
      margin-top: 6px;
    }
    &[type="date"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
      height: 24px;
    }
    &::placeholder {
      color: $vxe-input-placeholder-color;
    }
  }
  .vxe-textarea {
    height: 100%;
  }
  &.size--medium {
    .vxe-input {
      height: 36px;
      &[type="date"]::-webkit-inner-spin-button {
        margin-top: 4px;
      }
    }
  }
  &.size--small {
    .vxe-input {
      height: 32px;
      &[type="date"]::-webkit-inner-spin-button {
        margin-top: 2px;
      }
    }
  }
  &.size--mini {
    .vxe-input {
      height: 28px;
      &[type="date"]::-webkit-inner-spin-button {
        margin-top: 0;
      }
    }
  }
}
