/**Variable**/

/*input*/
.vxe-input,
.vxe-textarea,
select.vxe-select {
  font-size: $vxe-font-size;
  display: inline-block;
}

.vxe-textarea {
  width: 100%;
}

select.vxe-select,
.vxe-input--inner,
.vxe-textarea--inner {
  border-radius: 0.25em;
  outline: 0;
  padding: 0 0.6em;
  color: $vxe-font-color;
  border: 1px solid $vxe-input-border-color;
  background-color: #FFF;
  &:focus {
    border: 1px solid $vxe-primary-color;
  }
  &[disabled] {
    cursor: not-allowed;
    background-color: $vxe-input-disabled-background-color;
  }
}

.vxe-input--inner,
.vxe-textarea--inner {
  width: 100%;
  height: 100%;
  &::placeholder {
    color: $vxe-input-placeholder-color;
  }
}

select.vxe-select,
.vxe-input {
  height: $vxe-input-height-default;
}

.vxe-input--inner {
  &[type="date"]::-webkit-inner-spin-button {
    margin-top: 6px;
  }
  &[type="date"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    height: 24px;
  }
}

.vxe-textarea--inner {
  display: block;
  padding: 0.3em 0.6em;
}

.vxe-textarea {
  min-height: $vxe-input-height-default;
}

.vxe-input {
  .vxe-input--suffix {
    display: none;
    position: absolute;
    right: 0.2em;
    top: 0;
    width: 1.8em;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: $vxe-table-column-icon-border-color;
    cursor: pointer;
    &:hover {
      color: $vxe-table-column-icon-border-hover-color;
    }
  }
  &.is--suffix {
    position: relative;
    .vxe-input--inner {
      padding-right: 2em;
    }
    &:hover {
      .vxe-input--suffix {
        &.is--active {
          display: flex;
        }
      }
    }
  }
}

.size--medium {
  font-size: $vxe-font-size-medium;
  select.vxe-select,
  .vxe-input {
    height: $vxe-input-height-medium;
  }
  .vxe-textarea {
    min-height: $vxe-input-height-medium;
  }
  .vxe-input {
    &[type="date"]::-webkit-inner-spin-button {
      margin-top: 4px;
    }
  }
}
.size--small {
  font-size: $vxe-font-size-small;
  select.vxe-select,
  .vxe-input {
    height: $vxe-input-height-small;
  }
  .vxe-textarea {
    min-height: $vxe-input-height-small;
  }
  .vxe-input--inner {
    &[type="date"]::-webkit-inner-spin-button {
      margin-top: 2px;
    }
  }
}
.size--mini {
  font-size: $vxe-font-size-mini;
  select.vxe-select,
  .vxe-input {
    height: $vxe-input-height-mini;
  }
  .vxe-textarea {
    min-height: $vxe-input-height-mini;
  }
  .vxe-input--inner {
    &[type="date"]::-webkit-inner-spin-button {
      margin-top: 0;
    }
  }
}
