/**Variable**/

.vxe-list {
  position: relative;
  display: block;
  padding: 0;
  color: $vxe-font-color;
  direction: ltr;
  .vxe-list--virtual-wrapper {
    position: relative;
    overflow: auto;
  }
  .vxe-list--y-space {
    width: 0;
    float: left;
  }
  .vxe-list--virtual-wrapper,
  .vxe-list--body {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
  }
}

.vxe-list--virtual-wrapper {
  height: 100px;
}