/**Variable**/

/*加载中*/
.vxe-loading {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  user-select: none;
  background-color: $vxe-loading-background-color;
  &.is--visible {
    display: block;
  }
  & > .vxe-loading--chunk,
  & > .vxe-loading--warpper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    color: $vxe-loading-color;
  }
  .vxe-loading--default-icon {
    font-size: 1.4em;
  }
  .vxe-loading--text {
    padding: 0.4em 0;
  }
  .vxe-loading--spinner {
    display: inline-block;
    position: relative;
    width: 56px;
    height: 56px;
    &:before,
    &:after {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $vxe-primary-color;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      animation: bounce 2.0s infinite ease-in-out;
    }
    &:after {
      animation-delay: -1.0s;
    }
  }
  @keyframes bounce {
    0%, 100% {
      transform: scale(0);
    } 50% {
      transform: scale(1);
    }
  }
}

.size--mini {
  .vxe-loading {
    .vxe-loading--spinner {
      width: 38px;
      height: 38px;
    }
  }
}
.size--small {
  .vxe-loading {
    .vxe-loading--spinner {
      width: 44px;
      height: 44px;
    }
  }
}
.size--medium {
  .vxe-loading {
    .vxe-loading--spinner {
      width: 50px;
      height: 50px;
    }
  }
}