/**Variable**/

/*快捷菜单*/
.vxe-table--ctxmenu-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  background-color: #FFF;
  border: 1px solid $vxe-table-popup-border-color;
  box-shadow: 3px 3px 4px -2px rgba(0,0,0,.6);
  padding: 0 1px;
  user-select: none;
  color: $vxe-font-color;
  font-family: $vxe-font-family;
  &.is--show {
    display: block;
  }
  &.child-pos--left {
    .vxe-table--ctxmenu-clild-wrapper {
      left: -100%;
    }
  }
  .vxe-ctxmenu--option-wrapper {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 1px solid #E8EAED;
    li {
      position: relative;
      margin: 1px 0;
      border: 1px solid transparent;
      &:last-child {
        border: 0;
      }
      &.link--active {
        color: #2B2B2B;
        background-color: #C5C5C5;
        border-color:#C5C5C5;
      }
      &.link--disabled {
        .vxe-ctxmenu--link {
          color: $vxe-disabled-color;
        }
        &.link--active {
          border-color:#C0C1C2;
          background-color: #EEEEEE;
          &:hover {
            background-color: inherit;
          }
        }
      }
    }
    .vxe-ctxmenu--link {
      display: block;
      padding: 0 2.5em;
      width: $vxe-table-menu-item-width;
      line-height: 26px;
      color: $vxe-font-color;
      .vxe-ctxmenu--link-prefix,
      .vxe-ctxmenu--link-suffix {
        position: absolute;
        top: 5px;
        margin-right: 5px;
        font-size: 16px;
      }
      .vxe-ctxmenu--link-prefix {
        left: 5px;
      }
      .vxe-ctxmenu--link-suffix {
        right: 5px;
        &.suffix--haschild {
          top: 8px;
          &:before {
            position: absolute;
            content: "";
            border: 4px solid transparent;
            border-left-color: #727272;
          }
        }
      }
      .vxe-ctxmenu--link-content {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .vxe-table--ctxmenu-clild-wrapper {
      .vxe-ctxmenu--link {
        padding: 0 2em 0 2.5em;
      }
    }
  }
}
.vxe-table--ctxmenu-clild-wrapper {
  @extend .vxe-table--ctxmenu-wrapper, .vxe-ctxmenu--option-wrapper;
  display: none;
  top: 0;
  left: 100%;
  &.is--show {
    display: block;
  }
}