/**Variable**/

/*快捷菜单*/
.vxe-table--context-menu-wrapper,
.vxe-table--context-menu-clild-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  border: 1px solid $vxe-table-popup-border-color;
  box-shadow: 3px 3px 4px -2px rgba(0,0,0,.6);
  padding: 0 1px;
  user-select: none;
  color: $vxe-table-font-color;
  font-family: $vxe-font-family;
  background-color: $vxe-table-menu-background-color;
}
.vxe-context-menu--link {
  display: block;
  padding: 0 2.5em;
  width: $vxe-table-menu-item-width;
  line-height: 26px;
  color: $vxe-table-font-color;
  cursor: pointer;
  .vxe-context-menu--link-prefix,
  .vxe-context-menu--link-suffix {
    position: absolute;
    top: 5px;
    margin-right: 5px;
    font-size: 16px;
  }
  .vxe-context-menu--link-prefix {
    left: 5px;
  }
  .vxe-context-menu--link-suffix {
    right: 5px;
    &.suffix--haschild {
      top: 8px;
      &:before {
        position: absolute;
        content: "";
        border: 4px solid transparent;
        border-left-color: #727272;
      }
    }
  }
  .vxe-context-menu--link-content {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.vxe-table--context-menu-clild-wrapper {
  .vxe-context-menu--link {
    padding: 0 2em 0 2.5em;
  }
}
.vxe-context-menu--option-wrapper,
.vxe-table--context-menu-clild-wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #E8EAED;
  li {
    position: relative;
    margin: 1px 0;
    border: 1px solid transparent;
    &:last-child {
      border: 0;
    }
    &.link--active {
      background-color: #C5C5C5;
      border-color:#C5C5C5;
      & > .vxe-context-menu--link {
        color: #2B2B2B;
      }
    }
    &.link--disabled {
      & > .vxe-context-menu--link {
        color: $vxe-disabled-color;
        cursor: no-drop;
      }
      &.link--active {
        border-color:#C0C1C2;
        background-color: #EEEEEE;
        &:hover {
          background-color: inherit;
        }
      }
    }
  }
}
.vxe-table--context-menu-clild-wrapper {
  display: none;
  top: 0;
  left: 100%;
  &.is--show {
    display: block;
  }
}