/**Variable**/
@import './helpers/mixin.scss';

.vxe-msg--wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: $vxe-zindex;
  font-size: $vxe-font-size;
  color: $vxe-font-color;
  font-family: $vxe-font-family;
  pointer-events: none;
  transition: top .4s;
  &.active {
    display: block;
  }
  &.is--visible {
    &.is--mask {
      &:before {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
    .vxe-msg--box {
      opacity: 1;
      transform: translate(0, 0);
      visibility: visible;
    }
  }
  &.lock--view,
  &.is--mask {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      pointer-events: auto;
    }
  }
  &.is--mask {
    &:before {
      background-color: rgba(0, 0, 0, 0);
    }
  }
  &.is--animat {
    &.is--mask {
      &:before {
        @include animatTransition(background-color, .2s);
      }
    }
    .vxe-msg--box {
      @include animatTransition(all, .2s, ease-out);
    }
  }
  &.size--small,
  &.size--mini {
    font-size: 12px;
    .vxe-msg--box {
      padding: 6px 0;
    }
    .vxe-msg--body,
    .vxe-msg--footer {
      padding: 6px 14px;
    }
    .vxe-msg--header {
      font-size: 14px;
      padding: 6px 30px 6px 14px;
    }
    .vxe-msg--close-btn {
      font-size: 16px;
    }
  }
  &.type--message {
    .vxe-msg--box {
      padding: 2px 0;
      margin-top: 0;
      width: auto;
      .vxe-msg--body {
        &:after {
          content: '';
          display: block;
          clear: both;
          height: 0;
          overflow: hidden;
          visibility: hidden;
        }
      }
      .vxe-msg--content {
        max-width: 800px;
        float: left;
      }
    }
  }
  .vxe-msg--box {
    display: inline-block;
    visibility: hidden;
    width: 420px;
    margin-top: 15vh;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    font-size: 14px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
    text-align: left;
    padding: 8px 0;
    pointer-events: auto;
    opacity: 0;
    transform: translate(0, -10%);
  }
  &.msg--info {
    .vxe-msg--status-wrapper {
      color: #2998FF;
    }
  }
  &.msg--warning {
    .vxe-msg--status-wrapper {
      color: #FAAD14;
    }
  }
  &.msg--success {
    .vxe-msg--status-wrapper {
      color: #52C41A;
    }
  }
  &.msg--error {
    .vxe-msg--status-wrapper {
      color: #F5222D;
    }
  }
  &.msg--loading {
    .vxe-msg--status-wrapper {
      color: #78B1EB;
    }
  }
  .vxe-msg--status-wrapper {
    font-size: 16px;
    padding-top: 2px;
    margin-right: 10px;
    float: left;
    .vxe-msg--status-icon {
      display: block;
    }
  }
  .vxe-msg--body,
  .vxe-msg--footer {
    padding: 8px 16px;
  }
  .vxe-msg--header {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 40px 8px 16px;
    user-select: none;
  }
  .vxe-msg--close-btn {
    font-size: 18px;
    position: absolute;
    right: 14px;
    top: 10px;
    z-index: 1;
    color: $vxe-table-column-icon-border-color;
    cursor: pointer;
    &:hover {
      color: $vxe-font-color;
    }
  }
  .vxe-msg--footer {
    text-align: right;
  }
}