/**Variable**/
@import './helpers/placeholders.scss';
@import './helpers/mixin.scss';

/*radio*/
.vxe-radio {
  @extend %radioAndCheckbox;
  &.size--small,
  &.size--mini {
    font-size: 12px;
  }
  > input {
    &+.radio--icon {
      border-radius: 50%;
      &:before {
        border-width: 1px;
        border-style: solid;
        border-color: #fff;
        background-color: #fff;
        border-radius: 50%;
        height: 4px;
        width: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  &+.vxe-radio {
    margin-left: 10px;
  }
}