/**Variable**/

/*radio*/
.vxe-radio {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  &.size--small,
  &.size--mini {
    font-size: 12px;
    > input {
      &+.radio--icon {
        font-size: 14px;
      }
    }
  }
  > input {
    display: none;
    &+.radio--icon {
      position: relative;
      display: inline-block;
      width: 1em;
      height: 1em;
      border: 1px solid $vxe-input-border-color;
      background-color: #fff;
      vertical-align: middle;
      border-radius: 50%;
      font-size: 16px;
      &:before {
        content: "";
        position: absolute;
        border-width: 0.15em;
        border-style: solid;
        border-color: #fff;
        background-color: #fff;
        border-radius: 50%;
        height: 0.4em;
        width: 0.4em;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    &:checked+.radio--icon {
      background-color: $vxe-primary-color;
      border-color: $vxe-primary-color;
      &+.radio--label {
        color: $vxe-primary-color;
      }
    }
  }
  &.is--disabled {
    cursor: not-allowed;
    > input {
      &+.radio--icon {
        border-color: $vxe-input-border-color;
        background-color: $vxe-input-disabled-color;
        &:before {
          border-color: #c0c4cc;
        }
      }
      &:checked+.radio--icon {
        border-color: $vxe-input-border-color;
        background-color: $vxe-input-disabled-color;
        &+.radio--label,
        &+.checkbox--label {
          color: $vxe-input-border-color;
        }
      }
    }
  }
  .radio--label {
    padding-left: 5px;
    vertical-align: middle;
    display: inline-block;
  }
  &+.vxe-radio {
    margin-left: 10px;
  }
}