/**Variable**/
@import './helpers/mixin.scss';

.vxe-select {
  position: relative;
  display: inline-block;
  width: 180px;
  color: $vxe-font-color;
  text-align: left;
  &:not(.is--disabled) {
    & > .vxe-input {
      .vxe-input--inner {
        cursor: pointer;
      }
    }
  }
  & > .vxe-input {
    width: 100%;
    .vxe-input--suffix-icon {
      @include animatTransition(transform, .2s);
    }
  }
  &.is--active {
    & > .vxe-input {
      .vxe-input--inner {
        border: 1px solid $vxe-primary-color;
      }
    }
  }
}

.vxe-select--panel {
  display: none;
  position: absolute;
  left: 0;
  padding: 0.2em 0;
  color: $vxe-font-color;
  text-align: left;
  &:not(.is--transfer) {
    min-width: 100%;
  }
  &.is--transfer {
    position: fixed;
  }
  &.animat--leave {
    display: block;
    opacity: 0;
    transform: scaleY(0.5);
    transition: transform 0.2s, opacity 0.2s;
    transform-origin: 0% 0%;
    &[data-placement="top"] {
      transform-origin: 0% 100%;
    }
  }
  &.animat--enter {
    opacity: 1;
    transform: scaleY(1);
  }
}

.vxe-select-option--wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.2em 0;
  max-height: 15em;
  border-radius: $vxe-border-radius;
  background-color: #fff;
  border: 1px solid $vxe-table-popup-border-color;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.vxe-optgroup {
  .vxe-optgroup--title {
    padding: 0 0.6em;
    color: $vxe-optgroup-title-color;
    font-size: 0.8em;
  }
}

.vxe-optgroup--wrapper {
  .vxe-select-option {
    padding: 0 1.6em;
  }
}

.vxe-select-option {
  padding: 0 0.8em;
  max-width: 800px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.is--checked {
    font-weight: 700;
    color: $vxe-primary-color;
  }
  &:not(.is--disabled) {
    cursor: pointer;
    &.is--hover {
      background-color: $vxe-select-option-hover-background-color;
    }
  }
  &.is--disabled {
    color: $vxe-disabled-color;
    cursor: no-drop;
  }
}

.vxe-select,
.vxe-select--panel {
  font-size: $vxe-font-size;
  &.size--medium {
    font-size: $vxe-font-size-medium;
  }
  &.size--small {
    font-size: $vxe-font-size-small;
  }
  &.size--mini {
    font-size: $vxe-font-size-mini;
  }
}

.vxe-select--panel {
  .vxe-optgroup--title,
  .vxe-select-option {
    height: $vxe-select-option-height-default;
    line-height: $vxe-select-option-height-default;
  }
  &.size--medium {
    .vxe-optgroup--title,
    .vxe-select-option {
      height: $vxe-select-option-height-medium;
      line-height: $vxe-select-option-height-medium;
    }
  }
  &.size--small {
    .vxe-optgroup--title,
    .vxe-select-option {
      height: $vxe-select-option-height-small;
      line-height: $vxe-select-option-height-small;
    }
  }
  &.size--mini {
    .vxe-optgroup--title,
    .vxe-select-option {
      height: $vxe-select-option-height-mini;
      line-height: $vxe-select-option-height-mini;
    }
  }
}
