/**Variable**/
@import './helpers/mixin.scss';
@import './base/common.scss';

%textEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vxe-table-hidden-column {
  display: none;
}

/*默认的渲染*/
.vxe-table,
.vxe-table--filter-wrapper {
  .vxe-default-input,
  .vxe-default-textarea,
  .vxe-default-select {
    outline: 0;
    padding: 0 2px;
    height: 40px;
    width: 100%;
    color: $vxe-font-color;
    border-radius: 4px;
    border: 1px solid $vxe-input-border-color;
    &:focus {
      border: 1px solid $vxe-primary-color;
    }
  }
  .vxe-input--wrapper {
    width: 100%;
    display: block;
    .vxe-input,
    .vxe-textarea {
      padding: 0 2px;
    }
    .vxe-textarea {
      resize: none;
    }
  }
}
.vxe-table--filter-wrapper {
  .vxe-default-input,
  .vxe-default-textarea {
    padding: 0 10px;
  }
}

/*table*/
.vxe-table {
  position: relative;
  overflow: hidden;
  border-left: 1px solid $vxe-table-border-color;
  border-right: 1px solid $vxe-table-border-color;
  font-size: $vxe-font-size;
  color: $vxe-font-color;
  font-family: $vxe-font-family;
  background-color: $vxe-table-background-color;
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $vxe-table-border-color;
    z-index: 1;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  table {
    border-spacing: 0;
    border-collapse: separate;
  }
  .vxe-table--header-wrapper,
  .vxe-table--footer-wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
    border-top: 1px solid $vxe-table-border-color;
  }
  &.show--foot {
    &.scroll--x {
      .vxe-table--body-wrapper {
        overflow-x: scroll;
      }
    }
  }
  .vxe-body--row {
    background-color: $vxe-table-background-color;
    &.row--hover {
      background-color: $vxe-table-row-hover-background-color;
    }
    &.row--current {
      background-color: $vxe-table-row-current-background-color;
    }
    .vxe-body--column {
      border-bottom: 1px solid $vxe-table-border-color;
    }
  }
  &.c--resize {
    * {
      cursor: col-resize;
    }
  }
  &.t--stripe {
    .vxe-body--row {
      &:not(.row--current) {
        &:nth-child(2n) {
          background-color: $vxe-table-row-striped-background-color;
        }
      }
    }
  }
  &.column--highlight {
    .vxe-header--column {
      &:not(.col--index) {
        &:hover {
          background-color: $vxe-table-column-hover-background-color;
        }
      }
    }
  }
  .vxe-header--column,
  .vxe-body--column,
  .vxe-footer--column {
    padding: 12px 0;
    line-height: 23px;
    text-align: left;
    &.col--current {
      background-color: $vxe-table-column-current-background-color;
    }
    &.col--center {
      text-align: center;
    }
    &.col--right {
      text-align: right;
    }
  }
  &.t--border {
    .vxe-header--column,
    .vxe-body--column,
    .vxe-footer--column {
      border-right: 1px solid $vxe-table-border-color;
    }
    &.scroll--y {
      .vxe-header--column,
      .vxe-body--column,
      .vxe-footer--column {
        &:last-child {
          border-right: 1px solid $vxe-table-border-color;
        }
      }
    }
    .vxe-header--column,
    .vxe-footer--column{
      border-bottom: 1px solid $vxe-table-border-color;
    }
    .vxe-table--fixed-left-wrapper {
      .vxe-body--column{
        border-right-color: $vxe-table-border-color;
      }
    }
  }
  &.t--checked {
    user-select: none;
    .vxe-header--column,
    .vxe-body--column {
      &.col--index {
        text-align: center;
        cursor: default;
      }
    }
    .vxe-header--column {
      &.col--index {
        .vxe-cell {
          visibility: hidden;
        }
      }
    }
    .vxe-body--column {
      &.col--index {
        background-color: $vxe-table-header-background-color;
        &.col--index-checked {
          background-color: $vxe-table-column-header-checked-background-color;
        }
      }
    }
  }
  &.size--medium {
    .vxe-header--column,
    .vxe-body--column,
    .vxe-footer--column {
      padding: 10px 0;
    }
    .vxe-table--loading {
      .vxe-table--spinner {
        width: 50px;
        height: 50px;
      }
    }
    .vxe-default-input,
    .vxe-default-textarea,
    .vxe-default-select,
    .vxe-input--wrapper {
      height: 36px;
    }
  }
  &.size--small {
    font-size: 12px;
    .vxe-header--column,
    .vxe-body--column,
    .vxe-footer--column {
      padding: 8px 0;
    }
    .vxe-table--loading {
      .vxe-table--spinner {
        width: 44px;
        height: 44px;
      }
    }
    .vxe-default-input,
    .vxe-default-textarea,
    .vxe-default-select,
    .vxe-input--wrapper {
      height: 32px;
    }
  }
  &.size--mini {
    font-size: 12px;
    .vxe-header--column,
    .vxe-body--column,
    .vxe-footer--column {
      padding: 6px 0;
    }
    .vxe-table--loading {
      .vxe-table--spinner {
        width: 38px;
        height: 38px;
      }
    }
    .vxe-default-input,
    .vxe-default-textarea,
    .vxe-default-select,
    .vxe-input--wrapper {
      height: 28px;
    }
  }
  .vxe-cell {
    white-space: normal;
    word-break: break-word;
    padding: 0 10px;
    .vxe-checkbox {
      vertical-align: bottom;
    }
  }
  .vxe-header--column,
  .vxe-body--column,
  .vxe-footer--column {
    &.col--ellipsis {
      &:not(.col--actived) {
        .vxe-cell {
          @extend %textEllipsis;
          & > .vxe-checkbox {
            @extend %textEllipsis;
          }
        }
      }
    }
  }
  .fixed--hidden {
    visibility: hidden;
  }
  .vxe-table--fixed-left-wrapper,
  .vxe-table--fixed-right-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    overflow: hidden;
    background-color: $vxe-table-background-color;
    .vxe-table--body-wrapper {
      overflow-x: hidden;
    }
  }
  &.show--head {
    .vxe-table--fixed-left-wrapper,
    .vxe-table--fixed-right-wrapper {
      .vxe-table--body-wrapper {
        &:before {
          display: none;
        }
      }
   }
  }
  .vxe-table--fixed-left-wrapper {
    left: 0;
    width: 200px;
    border-right: 1px solid $vxe-table-border-color;
    &.scrolling--middle {
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12);
    }
  }
  .vxe-table--fixed-right-wrapper {
    right: 0;
    &.scrolling--middle {
      box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.12);
    }
  }
  .vxe-table--fixed-left-wrapper,
  .vxe-table--fixed-right-wrapper {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      border-top: 1px solid $vxe-table-border-color;
      z-index: 1;
    }
  }
  .vxe-table--header-wrapper,
  .vxe-table--body-wrapper,
  .vxe-table--footer-wrapper {
    position: relative;
    &.fixed-left--wrapper,
    &.fixed-right--wrapper {
      position: absolute;
      top: 0;
    }
    &.fixed-left--wrapper {
      left: 0;
    }
    &.fixed-right--wrapper {
      right: 0;
      overflow-y: auto;
    }
  }
  .vxe-body--x-space {
    width: 100%;
    height: 1px;
    margin-bottom: -1px;
  }
  .vxe-body--y-space {
    width: 0;
    float: left;
  }

  /*排序*/
  .vxe-sort-wrapper {
    padding: 0 2px;
    vertical-align: middle;
    display: inline-block;
    height: 22px;
    margin-top: -2px;
    .vxe-icon--caret-top {
      &:before {
        bottom: 0.1em;
      }
    }
    .vxe-sort--asc-btn,
    .vxe-sort--desc-btn {
      display: block;
      font-size: 12px;
      color: $vxe-table-column-icon-border-color;
      cursor: pointer;
      &:hover {
        color: $vxe-font-color;
      }
      &.sort--active {
        color: $vxe-primary-color;
      }
    }
  }

  /*列宽线*/
  .vxe-table--resizable-bar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    z-index: 4;
    &:before {
      content: "";
      display: block;
      height: 100%;
      background-color: $vxe-table-resizable-color;
    }
  }

  /*树形节点*/
  .vxe-tree--indent {
    display: inline-block;
  }
  .vxe-tree-wrapper {
    display: inline-block;
    vertical-align: bottom;
    width: 18px;
    cursor: pointer;
    &.is--active {
      .vxe-tree--node-btn {
        transform: rotate(180deg);
      }
    }
    .vxe-tree--node-btn {
      font-size: 12px;
      color: lighten($vxe-font-color, 20%);
      &:hover {
        color: $vxe-font-color;
      }
    }
  }

  /*展开行*/
  .vxe-table--expanded {
    display: block;
    text-align: center;
    cursor: pointer;
    .vxe-table--expand-icon {
      display: inline-block;
      width: 6px;
      height: 6px;
      border: 1px solid #666;
      vertical-align: middle;
      border-width: 1px 1px 0 0;
      transform: rotate(45deg);
      background-color: transparent;
    }
    &.expand--active {
      .vxe-table--expand-icon {
        transform: rotate(135deg);
      }
    }
  }
  .vxe-body--expanded-column {
    border-bottom: 1px solid $vxe-table-border-color;
  }
  .vxe-body--expanded-cell {
    padding: 20px;
  }

  /*固定列*/
  &.fixed--left,
  &.fixed--right,
  &.vxe-editable {
    .vxe-body--column {
      height: 48px;
      line-height: inherit;
    }
    &.size--medium {
      .vxe-body--column {
        height: 44px;
      }
    }
    &.size--small {
      .vxe-body--column {
        height: 40px;
      }
    }
    &.size--mini {
      .vxe-body--column {
        height: 36px;
      }
    }
  }

  /*暂无数据*/
  &.is--loading {
    .vxe-table--empty-block {
      visibility: hidden;
    }
  }
  .vxe-table--empty-block {
    display: none;
    height: 100%;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    &.is--visible {
      display: flex;
    }
    .vxe-table--empty-text {
      display: block;
      width: 50%;
    }
  }

  .vxe-body--column {
    &.col--selected {
      &:not(.col--checked) {
        box-shadow: inset 0px 0px 0px 2px $vxe-primary-color;
      }
    }
  }

  /*校验不通过*/
  .vxe-body--column {
    &.col--actived,
    &.col--selected,
    &.col--dirty {
      position: relative;
    }
    &.col--valid-error {
      .vxe-cell--valid {
        width: 320px;
        position: absolute;
        bottom: calc(100% + 4px);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        pointer-events: none;
        z-index: 9;
        .vxe-cell--valid-msg {
          display: inline-block;
          border-radius: 4px;
          padding: 8px 12px;
          color: #fff;
          background-color: $vxe-table-validate-error-color;
          pointer-events: auto;
        }
      }
      .vxe-default-input,
      .vxe-default-textarea,
      .vxe-default-select {
        border-color: $vxe-table-validate-error-color;
      }
      .vxe-input--wrapper {
        > .vxe-input {
          border-color: $vxe-table-validate-error-color;
        }
      }

    }
  }
  .vxe-body--row {
    &:first-child {
      .vxe-cell--valid {
        bottom: auto;
        top: calc(100% + 4px);
      }
    }
  }

  /*可编辑*/
  &.vxe-editable {
    &.c--highlight {
      .vxe-body--column {
        &.col--actived {
          box-shadow: inset 0px 0px 0px 2px $vxe-primary-color;
          &.col--valid-error {
            box-shadow: inset 0px 0px 0px 2px $vxe-table-validate-error-color;
          }
          .vxe-cell {
            .vxe-default-input,
            .vxe-default-textarea {
              border: 0;
              padding: 0;
            }
            .vxe-input--wrapper {
              .vxe-input,
              .vxe-textarea {
                border: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
    .vxe-body--column {
      padding: 0;
      &.col--actived {
        padding: 0;
      }
      &.col--dirty {
        &:before {
          content: "";
          top: -$vxe-table-cell-dirty-width;
          left: -$vxe-table-cell-dirty-width;
          position: absolute;
          border-width: $vxe-table-cell-dirty-width;
          border-style: solid;
          border-color: transparent $vxe-table-cell-dirty-color transparent transparent;
          transform: rotate(45deg);
        }
      }
    }
  }
}
