.vxe-textarea {
  position: relative;
  display: inline-block;
  &:not(.def--cols) {
    width: 100%;
    .vxe-textarea--inner {
      width: 100%;
    }
  }
}

.vxe-textarea--inner {
  border-radius: var(--vxe-border-radius);
  outline: 0;
  font-size: inherit;
  padding: 0 0.6em;
  color: var(--vxe-font-color);
  line-height: inherit;
  border: 1px solid var(--vxe-input-border-color);
  background-color: var(--vxe-textarea-background-color);
  display: block;
  padding: 0.3em 0.6em;
  &::placeholder {
    color: var(--vxe-input-placeholder-color);
  }
  &:focus {
    border: 1px solid var(--vxe-primary-color);
  }
  &[disabled] {
    cursor: not-allowed;
    background-color: var(--vxe-input-disabled-background-color);
  }
}

.vxe-textarea--inner,
.vxe-textarea--autosize {
  line-height: var(--vxe-textarea-line-height);
  color: var(--vxe-font-color);
  font-family: var(--vxe-font-family);
}

.vxe-textarea--autosize {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0.3em 0.6em;
  word-wrap: break-word;
  white-space: pre-wrap;
  z-index: -1;
  visibility: hidden;
}

.vxe-textarea--count {
  position: absolute;
  bottom: 0.2em;
  right: 1.4em;
  padding-left: 0.2em;
  color: var(--vxe-input-count-color);
  background-color: var(--vxe-input-count-background-color);
  &.is--error {
    color: var(--vxe-input-count-error-color);
  }
}

.vxe-textarea,
.vxe-textarea--autosize {
  font-size: var(--vxe-font-size);
  &.size--medium {
    font-size: var(--vxe-font-size-medium);
  }
  &.size--small {
    font-size: var(--vxe-font-size-small);
  }
  &.size--mini {
    font-size: var(--vxe-font-size-mini);
  }
}

.vxe-textarea {
  &:not(.is--autosize) {
    min-height: var(--vxe-input-height-default);
  }
  &.size--medium {
    font-size: var(--vxe-font-size-medium);
    &:not(.is--autosize) {
      min-height: var(--vxe-input-height-medium);
    }
  }
  &.size--small {
    &:not(.is--autosize) {
      min-height: var(--vxe-input-height-small);
    }
  }
  &.size--mini {
    &:not(.is--autosize) {
      min-height: var(--vxe-input-height-mini);
    }
  }
}