/**Variable**/

/*toolbar*/
.vxe-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $vxe-toolbar-height-default;
  font-size: $vxe-font-size;
  color: $vxe-font-color;
  font-family: $vxe-font-family;
  &:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  &.is--loading {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      user-select: none;
      background-color: $vxe-loading-background-color;
    }
  }
  &.size--medium {
    font-size: $vxe-font-size-medium;
    height: $vxe-toolbar-height-medium;
    .vxe-custom--option {
      & > .vxe-checkbox--icon {
        font-size: $vxe-checkbox-font-size-medium;
      }
    }
    .vxe-tools--operate-btn {
      font-size: $vxe-font-size-medium + 4px;
    }
  }
  &.size--small {
    font-size: $vxe-font-size-small;
    height: $vxe-toolbar-height-small;
    .vxe-custom--option {
      & > .vxe-checkbox--icon {
        font-size: $vxe-checkbox-font-size-small;
      }
    }
    .vxe-tools--operate-btn {
      font-size: $vxe-font-size-small + 4px;
    }
  }
  &.size--mini {
    font-size: $vxe-font-size-mini;
    height: $vxe-toolbar-height-mini;
    .vxe-custom--option {
      & > .vxe-checkbox--icon {
        font-size: $vxe-checkbox-font-size-mini;
      }
    }
    .vxe-tools--operate-btn {
      font-size: $vxe-font-size-mini + 4px;
    }
  }
  .vxe-button--wrapper {
    flex-grow: 1;
    text-align: left;
    & > .vxe-button+.vxe-button--item,
    & > .vxe-button--item+.vxe-button,
    & > .vxe-button--item+.vxe-button--item {
      margin-left: 0.8em;
    }
    & > .vxe-button--item {
      display: inline-block;
    }
  }
  .vxe-tools--wrapper {
    & > .vxe-button {
      display: flex;
      align-items: center;
    }
  }
  .vxe-tools--wrapper,
  .vxe-tools--operate {
    display: flex;
    flex-shrink: 0;
    align-items: center;
  }
  .vxe-custom--wrapper {
    position: relative;
    &.is--active {
      .vxe-custom--setting-btn {
        background-color: #D9DADB;
        border-radius: 50%;
      }
      .vxe-custom--option-wrapper {
        display: block;
      }
    }
  }
  .vxe-tools--operate-btn {
    padding: 8px;
    text-align: center;
    font-size: $vxe-font-size + 4px;
    user-select: none;
    cursor: pointer;
    &:hover {
      background-color: #F0F0F0;
      border-radius: 50%;
      .vxe-icon--zoomin {
        background-color: #F0F0F0;
      }
    }
    & > i {
      display: block;
    }
  }
  .vxe-custom--option {
    & > .vxe-checkbox--icon {
      font-size: $vxe-checkbox-font-size-default;
    }
  }
  .vxe-custom--option-wrapper {
    display: none;
    position: absolute;
    right: 0;
    text-align: left;
    background-color: #fff;
    z-index: 19;
    border: 1px solid $vxe-table-border-color;
    border-radius: 2px;
    box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.6);
    .vxe-custom--header {
      padding-top: 0.2em;
      font-weight: 700;
    }
    .vxe-custom--body {
      padding-bottom: 0.2em;
    }
    .vxe-custom--header,
    .vxe-custom--body {
      max-height: 240px;
      & > li {
        max-width: 180px;
        min-width: 100px;
        padding: 0.2em 1em 0.2em 2.25em;
      }
    }
    .vxe-custom--footer {
      border-top: 1px solid $vxe-table-popup-border-color;
      padding: 0.4em;
      text-align: right;
      min-width: 110px;
      button {
        background-color: transparent;
        width: 50%;
        border: 0;
        color: $vxe-font-color;
        text-align: center;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:hover {
          color: $vxe-primary-color;
        }
      }
    }
  }
}

.vxe-custom--option-wrapper .vxe-custom--header,
.vxe-custom--option-wrapper .vxe-custom--body {
  list-style-type: none;
  overflow: auto;
  margin: 0;
  padding: 0;
  user-select: none;
  & > li {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    .vxe-checkbox--icon {
      &:before {
        content: "";
        position: absolute;
        height: 1em;
        width: 1em;
        top: 0.4em;
        left: 0.6em;
        border-radius: 0.2em;
        border: 2px solid $vxe-input-border-color;
      }
    }
    &.is--checked,
    &.is--indeterminate {
      color: $vxe-primary-color;
      .vxe-checkbox--icon {
        &:before {
          border-color: $vxe-primary-color;
          background-color: $vxe-primary-color;
        }
        &:after {
          content: "";
          position: absolute;
        }
      }
    }
    &.is--checked {
      .vxe-checkbox--icon {
        &:after {
          height: 0.64em;
          width: 0.32em;
          top: 0.52em;
          left: 0.94em;
          border: 2px solid #ffffff;
          border-left: 0;
          border-top: 0;
          transform: rotate(45deg);
        }
      }
    }
    &.is--indeterminate {
      .vxe-checkbox--icon {
        &:after {
          top: 0.9em;
          left: 0.65em;
          height: 0.18em;
          width: 1em;
          background-color: #ffffff;
          transform: scale(.6);
        }
      }
    }
    &:not(.is--disabled) {
      &:hover {
        .vxe-checkbox--icon {
          &:before {
            border-color: $vxe-primary-color;
          }
        }
      }
    }
    &.is--disabled {
      cursor: not-allowed;
      color: $vxe-input-disabled-color;
      &.is--checked {
        .vxe-checkbox--icon {
          &:before {
            border-color: $vxe-input-disabled-color;
            background-color: $vxe-input-disabled-background-color;
          }
          &:after {
            border-color: $vxe-input-disabled-color;
          }
        }
      }
    }
    &:hover {
      background-color: $vxe-table-row-hover-background-color;
    }
  }
}
