/**Variable**/

/*toolbar*/
.vxe-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 52px;
  color: $vxe-font-color;
  &:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  &.is--loading {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: $vxe-loading-background-color;
    }
  }
  &.size--medium {
    height: 50px;
  }
  &.size--small {
    height: 48px;
  }
  &.size--mini {
    height: 46px;
  }
  &.size--small,
  &.size--mini {
    .vxe-tools--operate-btn {
      font-size: 15px;
    }
  }
  .vxe-button--wrapper {
    flex-grow: 1;
  }
  .vxe-tools--wrapper {
    & > .vxe-button {
      display: flex;
      align-items: center;
    }
  }
  .vxe-tools--wrapper,
  .vxe-tools--operate {
    display: flex;
    flex-shrink: 0;
    align-items: center;
  }
  .vxe-custom--wrapper {
    position: relative;
    &.is--active {
      .vxe-custom--setting-btn {
        background-color: #D9DADB;
        border-radius: 50%;
      }
      .vxe-custom--option-wrapper {
        display: block;
      }
    }
  }
  .vxe-tools--operate-btn {
    padding: 8px;
    text-align: center;
    font-size: 18px;
    user-select: none;
    cursor: pointer;
    &:hover {
      background-color: #F0F0F0;
      border-radius: 50%;
      .vxe-icon--zoomin {
        background-color: #F0F0F0;
      }
    }
    & > i {
      display: block;
    }
  }
  .vxe-custom--option-wrapper {
    display: none;
    position: absolute;
    right: 0;
    text-align: left;
    background-color: #fff;
    z-index: 19;
    max-height: 210px;
    overflow: auto;
    box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.6);
    .vxe-custom--option {
      padding: 5px 0;
      border: 1px solid $vxe-table-border-color;
      border-radius: 2px;
      // font-weight: 700;
      font-size: 14px;
      > .vxe-checkbox {
        display: block;
        padding: 5px 10px;
        margin: 0;
        max-width: 180px;
        min-width: 80px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover {
          background-color: #F0F0F0;
        }
        & > input {
          &:checked+.vxe-checkbox--icon {
            &+.vxe-checkbox--label {
              font-weight: 700;
            }
          }
        }
        .vxe-checkbox--label {
          display: inline;
        }
      }
    }
  }
}

.vxe-export--panel {
  & > table {
    width: 100%;
    border: 0;
    table-layout: fixed;
    tr {
      td {
        padding: 0 10px;
        &:nth-child(1) {
          text-align: right;
          width: 30%;
          font-weight: 700;
          padding: 8px 10px;
        }
        &:nth-child(2) {
          width: 70%;
        }
        & > input,
        & > select {
          outline: 0;
          width: 80%;
          padding: 5px 8px;
          color: $vxe-font-color;
          border-radius: 4px;
          border: 1px solid $vxe-input-border-color;
          &:focus {
            border: 1px solid $vxe-primary-color;
          }
        }
        & > input {
          &::placeholder {
            color: $vxe-input-placeholder-color;
          }
        }
      }
    }
  }
  .vxe-export--panel-column {
    width: 80%;
    border: 1px solid $vxe-input-border-color;
    margin: 3px 0;
    border-radius: 4px;
    user-select: none;
    & > .vxe-checkbox {
      padding: 5px 5px 5px 0.6em;
      display: block;
      background-color: #f8f8f9;
    }
    & > ul {
      max-height: 208px;
      overflow: auto;
      margin: 0;
      & > li {
        position: relative;
        padding: 4px 30px 4px 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        &:before {
          content: "";
          position: absolute;
          height: 1.2em;
          width: 1.2em;
          top: 0.4em;
          left: 0.6em;
          border-radius: 0.2em;
          border: 2px solid $vxe-input-border-color;
        }
        &.active {
          color: $vxe-primary-color;
          &:before {
            border-color: $vxe-primary-color;
            background-color: $vxe-primary-color;
          }
          &:after {
            content: "";
            position: absolute;
            height: 0.7em;
            width: 0.34em;
            top: 0.6em;
            left: 1em;
            border: 2px solid #ffffff;
            border-left: 0;
            border-top: 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
        &.disabled {
          cursor: not-allowed;
          color: $vxe-input-disabled-color;
          &.active {
            &:before {
              border-color: $vxe-input-disabled-color;
              background-color: $vxe-input-disabled-background-color;
            }
            &:after {
              border-color: $vxe-input-disabled-color;
            }
          }
        }
        &:hover {
          background-color: $vxe-table-row-hover-background-color;
        }
      }
    }
  }
  .vxe-import-selected--file {
    padding-right: 40px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    & > i {
      display: none;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      font-size: 16px;
      cursor: pointer;
    }
    &:hover {
      & > i {
        display: block;
      }
      color: $vxe-primary-color;
    }
  }
  .vxe-import-select--file {
    border: 1px dashed $vxe-input-border-color;
    padding: 6px 34px;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
    &:hover {
      color: $vxe-primary-color;
      border-color: $vxe-primary-color;
    }
  }
  .vxe-export--panel-btns {
    text-align: right;
    margin-top: 10px;
  }
}
.vxe-modal--wrapper {
  &.size--mini,
  &.size--small {
    .vxe-export--panel {
      font-size: 12px;
    }
  }
}