/**Variable**/
@import './base/checked.scss';

/*toolbar*/
.vxe-toolbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $vxe-font-color;
  font-family: $vxe-font-family;
  &:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  &.is--perfect {
    border: 1px solid $vxe-table-border-color;
    border-bottom-width: 0;
    background-color: $vxe-table-header-background-color;
  }
  &.is--loading {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: $vxe-loading-z-index;
      user-select: none;
      background-color: $vxe-loading-background-color;
    }
  }
  .vxe-button--wrapper {
    flex-grow: 1;
    text-align: left;
    & > .vxe-button+.vxe-button--item,
    & > .vxe-button--item+.vxe-button,
    & > .vxe-button--item+.vxe-button--item {
      margin-left: 0.8em;
    }
    & > .vxe-button--item {
      display: inline-block;
    }
  }
  .vxe-tools--wrapper {
    & > .vxe-button {
      display: flex;
      align-items: center;
    }
  }
  .vxe-tools--wrapper,
  .vxe-tools--operate {
    display: flex;
    flex-shrink: 0;
    align-items: center;
  }
  .vxe-custom--wrapper {
    position: relative;
    margin-left: 0.8em;
    &.is--active {
      & > .vxe-button {
        background-color: #D9DADB;
        border-radius: 50%;
      }
      .vxe-custom--option-wrapper {
        display: block;
      }
    }
  }
  .vxe-custom--option-wrapper {
    display: none;
    position: absolute;
    right: 2px;
    text-align: left;
    background-color: #fff;
    z-index: 19;
    border: 1px solid $vxe-table-border-color;
    border-radius: $vxe-border-radius;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    .vxe-custom--header {
      font-weight: 700;
      border-bottom: 1px solid $vxe-table-popup-border-color;
    }
    .vxe-custom--body {
      .vxe-custom--option {
        &:hover {
          background-color: $vxe-table-row-hover-background-color;
        }
      }
    }
    .vxe-custom--header,
    .vxe-custom--body {
      padding: 0.2em 0;
      max-height: 17.6em;
      & > li {
        max-width: 16em;
        min-width: 10em;
        padding: 0.2em 1em 0.2em 2.3em;
        @for $i from 2 through 8 {
          $interval: $i - 1 + 0.2;
          &.level--#{$i}{
            padding-left: #{$interval + 2.3}em;
            .vxe-checkbox--icon {
              left: #{$interval + 0.6}em;
            }
          }
        }
      }
    }
    .vxe-custom--footer {
      border-top: 1px solid $vxe-table-popup-border-color;
      padding: 0.45em 0.4em;
      text-align: right;
      button {
        background-color: transparent;
        width: 50%;
        border: 0;
        color: $vxe-font-color;
        text-align: center;
        cursor: pointer;
        &:focus {
          outline: none;
        }
        &:hover {
          color: $vxe-primary-color;
        }
      }
    }
  }
}

.vxe-custom--option-wrapper .vxe-custom--header,
.vxe-custom--option-wrapper .vxe-custom--body {
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  user-select: none;
  & > li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }
}

.vxe-custom--option {
  @extend %XECheckbox;
  .vxe-checkbox--icon {
    left: 0.6em;
    top: 0.38em;
  }
}

.vxe-toolbar {
  font-size: $vxe-font-size;
  height: $vxe-toolbar-height-default;
  .vxe-custom--option {
    & > .vxe-checkbox--icon {
      font-size: $vxe-checkbox-font-size-default;
    }
  }
  &.size--medium {
    font-size: $vxe-font-size-medium;
    height: $vxe-toolbar-height-medium;
    .vxe-custom--option {
      & > .vxe-checkbox--icon {
        font-size: $vxe-checkbox-font-size-medium;
      }
    }
  }
  &.size--small {
    font-size: $vxe-font-size-small;
    height: $vxe-toolbar-height-small;
    .vxe-custom--option {
      & > .vxe-checkbox--icon {
        font-size: $vxe-checkbox-font-size-small;
      }
    }
  }
  &.size--mini {
    font-size: $vxe-font-size-mini;
    height: $vxe-toolbar-height-mini;
    .vxe-custom--option {
      & > .vxe-checkbox--icon {
        font-size: $vxe-checkbox-font-size-mini;
      }
    }
  }
}