/**Variable**/

/*toolbar*/
.vxe-toolbar {
  padding: 10px 0;
  &:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  &.size--small,
  &.size--mini {
    padding: 8px 0
  }
  &.size--medium {
    .vxe-refresh--btn,
    .vxe-custom--setting-btn {
      font-size: 17px;
    }
  }
  &.size--small {
    .vxe-refresh--btn,
    .vxe-custom--setting-btn {
      font-size: 15px;
    }
  }
  &.size--mini {
    .vxe-refresh--btn,
    .vxe-custom--setting-btn {
      font-size: 14px;
    }
  }
  .vxe-refresh--wrapper,
  .vxe-custom--wrapper {
    float: right;
  }
  .vxe-custom--wrapper {
    text-align: right;
    position: relative;
    &.is--active {
      .vxe-custom--setting-btn {
        background-color: #D9DADB;
        border-radius: 50%;
      }
      .vxe-custom--option-wrapper {
        display: block;
      }
    }
  }
  .vxe-refresh--btn,
  .vxe-custom--setting-btn {
    font-size: 18px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: #F0F0F0;
      border-radius: 50%;
    }
    & > i {
      display: block;
    }
  }
  .vxe-refresh--btn {
    padding: 7px;
  }
  .vxe-custom--setting-btn {
    padding: 4px;
  }
  .vxe-custom--option-wrapper {
    display: none;
    position: absolute;
    right: 0;
    text-align: left;
    background-color: #fff;
    z-index: 19;
    max-height: 200px;
    overflow: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
    .vxe-custom--option {
      padding: 5px 5px;
      border: 1px solid $vxe-table-border-color;
      border-radius: 2px;
      font-weight: 700;
      font-size: 14px;
      > .vxe-checkbox {
        display: block;
        padding: 5px;
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}