/*font*/
$vxe-font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !default;
$vxe-font-color: #606266 !default;
$vxe-font-size: 14px !default;
$vxe-font-size-medium: 14px !default;
$vxe-font-size-small: 13px !default;
$vxe-font-size-mini: 12px !default;

/*size*/
$vxe-border-radius: 4px !default;

/*icon*/
$vxe-icon-font-family: Verdana,Arial,Tahoma !default;
$vxe-icon-background-color: #fff !default;

/*color*/
$vxe-primary-color: #409eff !default;
$vxe-success-color: #67c23a !default;
$vxe-info-color: #909399 !default;
$vxe-warning-color: #e6a23c !default;
$vxe-danger-color: #f56c6c !default;
$vxe-disabled-color: #BFBFBF !default;
$vxe-primary-disabled-color: #c0c4cc !default;

/*input/radio/checkbox*/
$vxe-input-border-color: #dcdfe6 !default;
$vxe-input-disabled-color: #dcdfe6 !default;
$vxe-input-disabled-background-color: #f3f3f3 !default;
$vxe-input-placeholder-color: #C0C4CC !default;

/*popup*/
$vxe-table-popup-border-color: #DADCE0 !default;

/*table*/
$vxe-table-font-color: $vxe-font-color !default;
$vxe-table-header-font-color: $vxe-font-color !default;
$vxe-table-footer-font-color: $vxe-font-color !default;
$vxe-table-border-radius: $vxe-border-radius !default;
$vxe-table-border-width: 1px !default;
$vxe-table-border-color: #e8eaec !default;
$vxe-table-resizable-line-color: #D9DDDF !default;
$vxe-table-resizable-drag-line-color: $vxe-primary-color !default;
$vxe-table-header-background-color: #f8f8f9 !default;
$vxe-table-body-background-color: #ffffff !default;
$vxe-table-footer-background-color: #ffffff !default;
$vxe-table-tree-node-line-color:#909399 !default;
$vxe-table-tree-node-line-style: dotted !default;
$vxe-table-header-font-weight: 700 !default;

$vxe-table-row-height-default: 48px !default;
$vxe-table-row-height-medium: 44px !default;
$vxe-table-row-height-small: 40px !default;
$vxe-table-row-height-mini: 36px !default;
$vxe-table-row-line-height: 22px !default;
$vxe-table-row-hover-background-color: #f5f7fa !default;
$vxe-table-row-striped-background-color: #fafafa !default;
$vxe-table-row-hover-striped-background-color: #f5f7fa !default;
$vxe-table-row-radio-checked-background-color: #fff3e0 !default;
$vxe-table-row-hover-radio-checked-background-color: #ffebbc !default;
$vxe-table-row-checkbox-checked-background-color: #fff3e0 !default;
$vxe-table-row-hover-checkbox-checked-background-color: #ffebbc !default;
$vxe-table-row-current-background-color: #e6f7ff !default;
$vxe-table-row-hover-current-background-color: #d7effb !default;

$vxe-table-column-hover-background-color: #d7effb !default;
$vxe-table-column-current-background-color: #e6f7ff !default;
$vxe-table-column-icon-border-color: #c0c4cc !default;
$vxe-table-column-icon-border-hover-color: #515A6E !default;

$vxe-table-cell-placeholder-color: #C0C4CC !default;
$vxe-table-cell-padding-left: 10px !default;
$vxe-table-cell-padding-right: 10px !default;
$vxe-table-cell-input-height-default: $vxe-table-row-height-default - 6 !default;
$vxe-table-cell-input-height-medium: $vxe-table-row-height-medium - 6 !default;
$vxe-table-cell-input-height-small: $vxe-table-row-height-small - 6 !default;
$vxe-table-cell-input-height-mini: $vxe-table-row-height-mini - 6 !default;
$vxe-table-cell-dirty-width: 5px !default;
$vxe-table-cell-dirty-update-color: #f56c6c !default;
$vxe-table-cell-dirty-insert-color: #19A15F !default;
$vxe-table-cell-area-border-color: $vxe-primary-color !default;
$vxe-table-cell-area-border-width: 1px !default;
$vxe-table-cell-main-area-extension-border-color: #fff !default;
$vxe-table-cell-main-area-extension-background-color: $vxe-primary-color !default;
$vxe-table-cell-extend-area-border-width: 2px !default;
$vxe-table-cell-copy-area-border-width: 3px !default;
$vxe-table-cell-active-area-border-width: 2px !default;
$vxe-table-cell-copy-area-border-color: $vxe-table-cell-area-border-color !default;
$vxe-table-cell-extend-area-border-color: $vxe-table-cell-area-border-color !default;
$vxe-table-cell-active-area-border-color: $vxe-table-cell-area-border-color !default;
$vxe-table-cell-area-background-color: rgba(64,158,255,0.2) !default;

$vxe-table-checkbox-range-border-width: 1px !default;
$vxe-table-checkbox-range-border-color: #006af1 !default;
$vxe-table-checkbox-range-background-color: rgba(50,128,252,0.2) !default;

$vxe-table-fixed-left-scrolling-box-shadow: 4px 3px 4px 0px rgba(0, 0, 0, 0.12) !default;
$vxe-table-fixed-right-scrolling-box-shadow: -4px 3px 4px 0px rgba(0, 0, 0, 0.12) !default;

/*filter*/
$vxe-table-filter-panel-background-color: #fff !default;

/*menu*/
$vxe-table-menu-item-width: 178px !default;
$vxe-table-menu-background-color: #fff !default;

/*loading*/
$vxe-loading-background-color: rgba(0, 0, 0, 0.2) !default;
$vxe-loading-z-index: 999 !default;

/*validate*/
$vxe-table-validate-error-color: #f56c6c !default;
$vxe-table-validate-tooltip-error-color: #fff !default;
$vxe-table-validate-tooltip-error-background-color: $vxe-table-validate-error-color !default;

/*grid*/
$vxe-grid-maximize-background-color: #fff !default;

/*toolbar*/
$vxe-toolbar-background-color: #fff !default;
$vxe-toolbar-height-default: 52px !default;
$vxe-toolbar-height-medium: 50px !default;
$vxe-toolbar-height-small: 48px !default;
$vxe-toolbar-height-mini: 46px !default;
$vxe-toolbar-custom-active-background-color: #D9DADB !default;
$vxe-toolbar-panel-background-color: #fff !default;

/*tooltip*/
$vxe-tooltip-dark-color: #fff !default;
$vxe-tooltip-dark-background-color: #303133 !default;
$vxe-tooltip-light-background-color: #fff !default;
$vxe-tooltip-validate-error-color: #fff !default;
$vxe-tooltip-validate-error-background-color: #f56c6c !default;

/*pager*/
$vxe-pager-background-color: #fff !default;
$vxe-pager-perfect-background-color: #fff !default;
$vxe-pager-perfect-button-background-color: #f4f4f5 !default;

/*modal*/
$vxe-modal-header-background-color: #F8F8F8 !default;
$vxe-modal-body-background-color: #fff !default;
$vxe-modal-border-color: #ebeef5 !default;

/*checkbox*/
$vxe-checkbox-font-size-default: 16px !default;
$vxe-checkbox-font-size-medium: 15px !default;
$vxe-checkbox-font-size-small: 14px !default;
$vxe-checkbox-font-size-mini: 14px !default;
$vxe-checkbox-checked-width: 0.32em !default;
$vxe-checkbox-checked-height: 0.64em !default;
$vxe-checkbox-indeterminate-width: 0.6em !default;
$vxe-checkbox-indeterminate-height: 2px !default;
$vxe-checkbox-border-width: 2px !default;
$vxe-checkbox-border-radius: 2px !default;
$vxe-checkbox-icon-background-color: #fff !default;
$vxe-checkbox-checked-icon-border-color: #fff !default;
$vxe-checkbox-indeterminate-icon-background-color: #fff !default;

/*radio*/
$vxe-radio-font-size-default: $vxe-checkbox-font-size-default !default;
$vxe-radio-font-size-medium: $vxe-checkbox-font-size-medium !default;
$vxe-radio-font-size-small: $vxe-checkbox-font-size-small !default;
$vxe-radio-font-size-mini: $vxe-checkbox-font-size-mini !default;
$vxe-radio-border-width: $vxe-checkbox-border-width !default;
$vxe-radio-icon-background-color: #fff !default;
$vxe-radio-checked-icon-background-color: #fff !default;
$vxe-radio-indeterminate-icon-background-color: #fff !default;
$vxe-radio-button-default-background-color: #fff !default;

/*button*/
$vxe-button-max-width: 500px !default;
$vxe-button-default-background-color: #fff !default;
$vxe-button-dropdown-panel-background-color: #fff !default;
$vxe-button-height-default: 34px !default;
$vxe-button-height-medium: 32px !default;
$vxe-button-height-small: 30px !default;
$vxe-button-height-mini: 28px !default;

/*input*/
$vxe-input-background-color: #fff !default;
$vxe-input-panel-background-color: $vxe-input-background-color !default;
$vxe-input-date-festival-color: #999999 !default;
$vxe-input-date-festival-important-color: $vxe-primary-color !default;
$vxe-input-date-notice-background-color: #FF0000 !default;
$vxe-input-date-picker-hover-background-color: #f2f6fc !default;
$vxe-input-date-picker-selected-color: #fff !default;
$vxe-input-date-time-confirm-button-color: #fff !default;
$vxe-input-date-picker-festival-selected-color: $vxe-input-date-picker-selected-color !default;
$vxe-input-date-picker-notice-selected-background-color: $vxe-input-date-picker-selected-color !default;
$vxe-input-date-extra-color: #67c23a !default;
$vxe-input-date-extra-important-color: #fd2222 !default;
$vxe-input-date-title-height-default: 30px !default;
$vxe-input-date-title-height-medium: 29px !default;
$vxe-input-date-title-height-small: 28px !default;
$vxe-input-date-title-height-mini: 26px !default;
$vxe-input-date-time-week-row-height-default: 38px !default;
$vxe-input-date-time-week-row-height-medium: 36px !default;
$vxe-input-date-time-week-row-height-small: 34px !default;
$vxe-input-date-time-week-row-height-mini: 32px !default;
$vxe-input-date-month-year-row-height-default: 48px !default;
$vxe-input-date-month-year-row-height-medium: 46px !default;
$vxe-input-date-month-year-row-height-small: 44px !default;
$vxe-input-date-month-year-row-height-mini: 42px !default;
$vxe-input-date-quarter-row-height-default: 60px !default;
$vxe-input-date-quarter-row-height-medium: 58px !default;
$vxe-input-date-quarter-row-height-small: 56px !default;
$vxe-input-date-quarter-row-height-mini: 54px !default;
$vxe-input-height-default: $vxe-button-height-default !default;
$vxe-input-height-medium: $vxe-button-height-medium !default;
$vxe-input-height-small: $vxe-button-height-small !default;
$vxe-input-height-mini: $vxe-button-height-mini !default;

/*textarea*/
$vxe-textarea-line-height: 1.5715 !default;
$vxe-textarea-background-color: #fff !default;
$vxe-textarea-count-color: #999 !default;
$vxe-textarea-count-background-color: #fff !default;
$vxe-textarea-count-error-color: $vxe-table-validate-error-color !default;

/*form*/
$vxe-form-item-min-height-default: 36px !default;
$vxe-form-item-min-height-medium: 34px !default;
$vxe-form-item-min-height-small: 32px !default;
$vxe-form-item-min-height-mini: 30px !default;
$vxe-form-background-color: #fff !default;
$vxe-form-validate-error-color: $vxe-table-validate-error-color !default;
$vxe-form-validate-error-background-color: inherit !default;

/*select*/
$vxe-select-option-height-default: 30px !default;
$vxe-select-option-height-medium: 28px !default;
$vxe-select-option-height-small: 26px !default;
$vxe-select-option-height-mini: 24px !default;
$vxe-select-option-hover-background-color: #f5f7fa !default;
$vxe-select-panel-background-color: #fff !default;
$vxe-select-empty-color: #C0C4CC !default;
$vxe-optgroup-title-color:#909399 !default;

/*switch*/
$vxe-switch-font-color: #fff !default;
$vxe-switch-icon-background-color: #fff !default;
$vxe-switch-open-background-color: $vxe-primary-color !default;
$vxe-switch-close-background-color: rgba(0,0,0,0.35) !default;
$vxe-switch-disabled-background-color: rgba(0,0,0,0.15) !default;

/*pulldown*/
$vxe-pulldown-panel-background-color: #fff !default;
