/*font color*/
$vxe-ui-font-color: #606266 !default;
$vxe-ui-font-tinge-color: #d4d5d7 !default;
$vxe-ui-font-lighten-color: #797b80 !default;
$vxe-ui-font-darken-color: #47494c !default;
$vxe-ui-font-disabled-color: #BFBFBF !default;

/*font status color*/
$vxe-ui-font-primary-color: #409eff !default;

/*base*/
$vxe-ui-base-popup-border-color: #DADCE0 !default;
$vxe-ui-base-popup-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16) !default;

/*layout*/
$vxe-ui-layout-background-color: #ffffff !default;

/*input*/
$vxe-ui-input-border-color: #dcdfe6 !default;
$vxe-ui-input-placeholder-color: #C0C4CC !default;
$vxe-ui-input-disabled-background-color: #f3f3f3 !default;

/*loading*/
$vxe-ui-loading-background-color: rgba(255, 255, 255, 0.5) !default;

/*table*/
$vxe-ui-table-header-background-color: #f8f8f9 !default;
$vxe-ui-table-column-to-row-background-color: #f8f8f9 !default;
$vxe-ui-table-column-hover-background-color: #d7effb !default;
$vxe-ui-table-column-current-background-color: #e6f7ff !default;
$vxe-ui-table-column-hover-current-background-color: #d7effb !default;
$vxe-ui-table-border-color: #e8eaec !default;
$vxe-ui-table-row-hover-background-color: #f5f7fa !default;
$vxe-ui-table-row-striped-background-color: #fafafa !default;
$vxe-ui-table-row-hover-striped-background-color: #f5f7fa !default;
$vxe-ui-table-row-radio-checked-background-color: #fff3e0 !default;
$vxe-ui-table-row-hover-radio-checked-background-color: #ffebbc !default;
$vxe-ui-table-row-checkbox-checked-background-color: #fff3e0 !default;
$vxe-ui-table-row-hover-checkbox-checked-background-color: #ffebbc !default;
$vxe-ui-table-row-current-background-color: #e6f7ff !default;
$vxe-ui-table-row-hover-current-background-color: #d7effb !default;
$vxe-ui-table-fixed-scrolling-box-shadow-color: rgba(0, 0, 0, 0.12) !default;
$vxe-ui-table-drag-over-background-color:rgba(255,255,200,0.3) !default;
 