/*font*/
$vxe-font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
$vxe-font-color: #606266;
$vxe-font-size: 14px;
$vxe-font-size-medium: 14px;
$vxe-font-size-small: 13px;
$vxe-font-size-mini: 12px;

/*size*/
$vxe-border-radius: 4px;

/*icon*/
$vxe-icon-font-family: Verdana,Arial,Tahoma;
$vxe-icon-background-color: #fff;

/*color*/
$vxe-primary-color: #409eff;
$vxe-success-color: #67c23a;
$vxe-info-color: #909399;
$vxe-warning-color: #e6a23c;
$vxe-danger-color: #f56c6c;
$vxe-disabled-color: #BFBFBF;
$vxe-primary-disabled-color: #c0c4cc;

/*input/radio/checkbox*/
$vxe-input-border-color: #dcdfe6;
$vxe-input-disabled-color: #dcdfe6;
$vxe-input-disabled-background-color: #f3f3f3;
$vxe-input-placeholder-color: #C0C4CC;

/*popup*/
$vxe-table-popup-border-color: #DADCE0;

/*table*/
$vxe-table-font-color: $vxe-font-color;
$vxe-table-border-radius: $vxe-border-radius;
$vxe-table-border-width: 1px;
$vxe-table-border-color: #e8eaec;
$vxe-table-resizable-line-color: #D9DDDF;
$vxe-table-resizable-drag-line-color: $vxe-primary-color;
$vxe-table-background-color: #ffffff;
$vxe-table-header-background-color: #f8f8f9;
$vxe-table-body-background-color: $vxe-table-background-color;
$vxe-table-footer-background-color: $vxe-table-background-color;
$vxe-table-tree-node-line-color:#909399;
$vxe-table-tree-node-line-style: dotted;
$vxe-table-header-font-weight: 700;

$vxe-table-row-height-default: 48px;
$vxe-table-row-height-medium: 44px;
$vxe-table-row-height-small: 40px;
$vxe-table-row-height-mini: 36px;
$vxe-table-row-line-height: 24px;
$vxe-table-row-hover-background-color: #f5f7fa;
$vxe-table-row-striped-background-color: #fafafa;
$vxe-table-row-hover-striped-background-color: #f5f7fa;
$vxe-table-row-radio-background-color: #fff3e0;
$vxe-table-row-hover-radio-background-color: #ffebbc;
$vxe-table-row-checked-background-color: #fff3e0;
$vxe-table-row-hover-checked-background-color: #ffebbc;
$vxe-table-row-current-background-color: #e6f7ff;
$vxe-table-row-hover-current-background-color: #d7effb;

$vxe-table-column-hover-background-color: #d7effb;
$vxe-table-column-current-background-color: #e6f7ff;
$vxe-table-column-icon-border-color: #c0c4cc;
$vxe-table-column-icon-border-hover-color: #515A6E;

$vxe-table-cell-placeholder-color: #C0C4CC;
$vxe-table-cell-padding-left: 10px;
$vxe-table-cell-padding-right: 10px;
$vxe-table-cell-input-height-default: $vxe-table-row-height-default - 6;
$vxe-table-cell-input-height-medium: $vxe-table-row-height-medium - 6;
$vxe-table-cell-input-height-small: $vxe-table-row-height-small - 6;
$vxe-table-cell-input-height-mini: $vxe-table-row-height-mini - 6;
$vxe-table-cell-dirty-width: 5px;
$vxe-table-cell-dirty-update-color: #f56c6c;
$vxe-table-cell-dirty-insert-color: #19A15F;
$vxe-table-cell-area-border-color: $vxe-primary-color;
$vxe-table-cell-area-border-width: 1px;
$vxe-table-cell-main-area-extension-border-color: #fff;
$vxe-table-cell-main-area-extension-background-color: $vxe-primary-color;
$vxe-table-cell-extend-area-border-width: 2px;
$vxe-table-cell-copy-area-border-width: 3px;
$vxe-table-cell-active-area-border-width: 2px;
$vxe-table-cell-copy-area-border-color: $vxe-table-cell-area-border-color;
$vxe-table-cell-extend-area-border-color: $vxe-table-cell-area-border-color;
$vxe-table-cell-active-area-border-color: $vxe-table-cell-area-border-color;
$vxe-table-cell-area-background-color: rgba(64,158,255,0.2);

$vxe-table-checkbox-range-border-width: 1px;
$vxe-table-checkbox-range-border-color: #006af1;
$vxe-table-checkbox-range-background-color: rgba(50,128,252,0.2);

/*filter*/
$vxe-table-filter-panel-background-color: #fff;

/*menu*/
$vxe-table-menu-item-width: 178px;
$vxe-table-menu-background-color: #fff;

/*loading*/
$vxe-loading-background-color: rgba(0, 0, 0, 0.2);
$vxe-loading-z-index: 999;

/*validate*/
$vxe-table-validate-error-color: #f56c6c;
$vxe-table-validate-tooltip-error-color: #fff;
$vxe-table-validate-tooltip-error-background-color: $vxe-table-validate-error-color;

/*grid*/
$vxe-grid-maximize-background-color: #fff;

/*toolbar*/
$vxe-toolbar-background-color: #fff;
$vxe-toolbar-height-default: 52px;
$vxe-toolbar-height-medium: 50px;
$vxe-toolbar-height-small: 48px;
$vxe-toolbar-height-mini: 46px;
$vxe-toolbar-custom-active-background-color: #D9DADB;
$vxe-toolbar-panel-background-color: #fff;

/*tooltip*/
$vxe-tooltip-dark-color: #fff;
$vxe-tooltip-dark-background-color: #303133;
$vxe-tooltip-light-background-color: #fff;
$vxe-tooltip-validate-error-color: #fff;
$vxe-tooltip-validate-error-background-color: #f56c6c;

/*pager*/
$vxe-pager-background-color: #fff;
$vxe-pager-perfect-button-background-color: #f4f4f5;

/*modal*/
$vxe-modal-header-background-color: #F8F8F8;
$vxe-modal-body-background-color: #fff;
$vxe-modal-border-color: #ebeef5;

/*checkbox*/
$vxe-checkbox-font-size-default: 16px;
$vxe-checkbox-font-size-medium: 15px;
$vxe-checkbox-font-size-small: 14px;
$vxe-checkbox-font-size-mini: 14px;
$vxe-checkbox-checked-width: 0.32em;
$vxe-checkbox-checked-height: 0.64em;
$vxe-checkbox-indeterminate-width: 0.6em;
$vxe-checkbox-indeterminate-height: 2px;
$vxe-checkbox-border-width: 2px;
$vxe-checkbox-border-radius: 2px;
$vxe-checkbox-icon-background-color: #fff;
$vxe-checkbox-checked-icon-border-color: #fff;
$vxe-checkbox-indeterminate-icon-background-color: #fff;

/*radio*/
$vxe-radio-font-size-default: $vxe-checkbox-font-size-default;
$vxe-radio-font-size-medium: $vxe-checkbox-font-size-medium;
$vxe-radio-font-size-small: $vxe-checkbox-font-size-small;
$vxe-radio-font-size-mini: $vxe-checkbox-font-size-mini;
$vxe-radio-border-width: $vxe-checkbox-border-width;
$vxe-radio-icon-background-color: #fff;
$vxe-radio-checked-icon-background-color: #fff;
$vxe-radio-indeterminate-icon-background-color: #fff;

/*button*/
$vxe-button-max-width: 500px;
$vxe-button-default-background-color: #fff;
$vxe-button-height-default: 34px;
$vxe-button-height-medium: 32px;
$vxe-button-height-small: 30px;
$vxe-button-height-mini: 28px;

/*input*/
$vxe-input-background-color: #fff;
$vxe-input-panel-background-color: $vxe-input-background-color;
$vxe-input-date-festival-color: #999999;
$vxe-input-date-festival-important-color: $vxe-primary-color;
$vxe-input-date-notice-background-color: #FF0000;
$vxe-input-date-header-background-color: #f8f8f9;
$vxe-input-date-picker-hover-background-color: #f2f6fc;
$vxe-input-date-picker-selected-color: #fff;
$vxe-input-date-time-confirm-button-color: #fff;
$vxe-input-date-picker-festival-selected-color: $vxe-input-date-picker-selected-color;
$vxe-input-date-picker-notice-selected-background-color: $vxe-input-date-picker-selected-color;
$vxe-input-date-extra-color: #67c23a;
$vxe-input-date-extra-important-color: #fd2222;
$vxe-input-date-title-height-default: 30px;
$vxe-input-date-title-height-medium: 29px;
$vxe-input-date-title-height-small: 28px;
$vxe-input-date-title-height-mini: 26px;
$vxe-input-date-time-week-row-height-default: 38px;
$vxe-input-date-time-week-row-height-medium: 36px;
$vxe-input-date-time-week-row-height-small: 34px;
$vxe-input-date-time-week-row-height-mini: 32px;
$vxe-input-date-month-year-row-height-default: 48px;
$vxe-input-date-month-year-row-height-medium: 46px;
$vxe-input-date-month-year-row-height-small: 44px;
$vxe-input-date-month-year-row-height-mini: 42px;
$vxe-input-date-quarter-row-height-default: 60px;
$vxe-input-date-quarter-row-height-medium: 58px;
$vxe-input-date-quarter-row-height-small: 56px;
$vxe-input-date-quarter-row-height-mini: 54px;
$vxe-input-height-default: $vxe-button-height-default;
$vxe-input-height-medium: $vxe-button-height-medium;
$vxe-input-height-small: $vxe-button-height-small;
$vxe-input-height-mini: $vxe-button-height-mini;

/*textarea*/
$vxe-textarea-background-color: #fff;
$vxe-textarea-count-color: #999;
$vxe-textarea-count-background-color: #fff;
$vxe-textarea-count-error-color: $vxe-table-validate-error-color;

/*form*/
$vxe-form-item-min-height-default: 36px;
$vxe-form-item-min-height-medium: 34px;
$vxe-form-item-min-height-small: 32px;
$vxe-form-item-min-height-mini: 30px;
$vxe-form-background-color: #fff;
$vxe-form-validate-error-color: $vxe-table-validate-error-color;
$vxe-form-validate-error-background-color: inherit;

/*select*/
$vxe-select-option-height-default: 30px;
$vxe-select-option-height-medium: 28px;
$vxe-select-option-height-small: 26px;
$vxe-select-option-height-mini: 24px;
$vxe-select-option-hover-background-color: #f5f7fa;
$vxe-select-panel-background-color: #fff;
$vxe-optgroup-title-color:#909399;

/*switch*/
$vxe-switch-font-color: #fff;
$vxe-switch-icon-background-color: #fff;

/*pulldown*/
$vxe-pulldown-panel-background-color: #fff;
