/*font-family*/
$vxe-font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
$vxe-font-color: #606266;
$vxe-font-size: 14px;
$vxe-font-size-medium: 14px;
$vxe-font-size-small: 13px;
$vxe-font-size-mini: 12px;

/*primary color*/
$vxe-primary-color: #409eff;
$vxe-disabled-color: #B1B1B1;

/*input/radio/checkbox color*/
$vxe-input-border-color: #dcdfe6;
$vxe-input-disabled-color: #f3f3f3;
$vxe-input-placeholder-color: #C0C4CC;

/*popup*/
$vxe-table-popup-border-color: #DADCE0;

/*table color*/
$vxe-table-header-background-color: #f8f8f9;
$vxe-table-border-color: #e8eaec;
$vxe-table-resizable-color: #D9DDDF;
$vxe-table-background-color: #ffffff;

/*table row*/
$vxe-table-row-height-default: 48px;
$vxe-table-row-height-medium: 44px;
$vxe-table-row-height-small: 40px;
$vxe-table-row-height-mini: 36px;
$vxe-table-row-line-height: 23px;
$vxe-table-row-hover-background-color: #f5f7fa;
$vxe-table-row-striped-background-color: #fafafa;
$vxe-table-row-hover-striped-background-color: #f5f7fa;
$vxe-table-row-radio-background-color: #fff3e0;
$vxe-table-row-hover-radio-background-color: #ffebbc;
$vxe-table-row-cheched-background-color: #fff3e0;
$vxe-table-row-hover-cheched-background-color: #ffebbc;
$vxe-table-row-current-background-color: #e6f7ff;
$vxe-table-row-hover-current-background-color: #d7effb;

/*table column*/
$vxe-table-column-hover-background-color: #d7effb;
$vxe-table-column-current-background-color: #e6f7ff;
$vxe-table-column-icon-border-color: #c0c4cc;
$vxe-table-column-icon-border-hover-color: #515A6E;

/*table cell*/
$vxe-table-cell-dirty-width: 5px;
$vxe-table-cell-dirty-color: #f56c6c;

/*table checked*/
$vxe-table-column-checked-border-width: 2px;
$vxe-table-column-checked-border-color: #D4D4D4;
$vxe-table-column-header-checked-background-color: #DCDCDC;
$vxe-table-column-checked-background-color: #e6f7ff;

/*table tree*/
$vxe-table-tree-node-line-color:#B6B4B6;

/*loading*/
$vxe-loading-background-color: rgba(0, 0, 0, 0.2);

/*validate*/
$vxe-table-validate-error-color: #f56c6c;

/*tooltip*/
$vxe-tooltip-dark-background-color: #303133;
$vxe-tooltip-light-background-color: #fff;

/*modal*/
$vxe-modal-header-background-color: #F8F8F8;