:root {
  /*font*/
  --vxe-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --vxe-font-size: 14px;
  --vxe-font-size-medium: 14px;
  --vxe-font-size-small: 13px;
  --vxe-font-size-mini: 12px;
  --vxe-font-d20-color: #2f3031;
  --vxe-font-l10-color: #797b80;
  --vxe-font-l20-color: #939599;
  --vxe-font-color: #606266;
  
  /*size*/
  --vxe-border-radius: 4px;
  
  /*icon*/
  --vxe-icon-font-family: Verdana, Arial, Tahoma;
  --vxe-icon-background-color: #fff;
  
  /*color*/
  --vxe-primary-color: #409eff;
  --vxe-primary-l6-color: #5faeff;
  --vxe-primary-l10-color: #73b8ff;
  --vxe-primary-l20-color: #a6d2ff;
  --vxe-primary-d2-color: #3699ff;
  --vxe-primary-d3-color: #3196ff;
  --vxe-primary-d10-color: #0d84ff;
  --vxe-primary-d20-color: #006bd9;
  --vxe-success-color: #67c23a;
  --vxe-success-l6-color: #79cb50;
  --vxe-success-l10-color: #85cf60;
  --vxe-success-l20-color: #a3db87;
  --vxe-success-d2-color: #63ba38;
  --vxe-success-d3-color: #61b636;
  --vxe-success-d10-color: #529b2e;
  --vxe-success-d20-color: #3d7323;
  --vxe-info-color: #909399;
  --vxe-info-l6-color: #a0a3a8;
  --vxe-info-l10-color: #abadb1;
  --vxe-info-l20-color: #c5c7ca;
  --vxe-info-d2-color: #8b8e94;
  --vxe-info-d3-color: #888b92;
  --vxe-info-d10-color: #767980;
  --vxe-info-d20-color: #5d6066;
  --vxe-warning-color: #e6a23c;
  --vxe-warning-l6-color: #e9af57;
  --vxe-warning-l10-color: #ecb869;
  --vxe-warning-l20-color: #f2cd96;
  --vxe-warning-d2-color: #e59e33;
  --vxe-warning-d3-color: #e49c2e;
  --vxe-warning-d10-color: #d48a1b;
  --vxe-warning-d20-color: #a76d15;
  --vxe-danger-color: #f56c6c;
  --vxe-danger-l6-color: #f78989;
  --vxe-danger-l10-color: #f89c9c;
  --vxe-danger-l20-color: #fbcccc;
  --vxe-danger-d2-color: #f46262;
  --vxe-danger-d3-color: #f45e5e;
  --vxe-danger-d10-color: #f23c3c;
  --vxe-danger-d20-color: #eb1010;
  --vxe-rever-color: #f8f8f9;
  --vxe-rever-l6-color: white;
  --vxe-rever-l10-color: white;
  --vxe-rever-l20-color: white;
  --vxe-rever-d2-color: #f3f3f4;
  --vxe-rever-d3-color: #f0f0f2;
  --vxe-rever-d10-color: #dddde1;
  --vxe-rever-d20-color: #c1c1ca;
  --vxe-disabled-color: #bfbfbf;
  --vxe-primary-disabled-color: #c0c4cc;
  
  /*input/radio/checkbox*/
  --vxe-input-border-color: #dcdfe6;
  --vxe-input-disabled-color: #dcdfe6;
  --vxe-input-disabled-background-color: #f3f3f3;
  --vxe-input-placeholder-color: #c0c4cc;
  
  /*popup*/
  --vxe-table-popup-border-color: #dadce0;
  
  /*table*/
  --vxe-table-font-color: var(--vxe-font-color);
  --vxe-table-font-l20-color: var(--vxe-font-l20-color);
  --vxe-table-header-font-color: var(--vxe-font-color);
  --vxe-table-footer-font-color: var(--vxe-font-color);
  --vxe-table-border-radius: var(--vxe-border-radius);
  --vxe-table-border-width: 1px;
  --vxe-table-border-color: #e8eaec;
  --vxe-table-resizable-line-color: #d9dddf;
  --vxe-table-resizable-drag-line-color: var(--vxe-primary-color);
  --vxe-table-header-background-color: #f8f8f9;
  --vxe-table-body-background-color: #ffffff;
  --vxe-table-footer-background-color: #ffffff;
  --vxe-table-tree-node-line-color: #909399;
  --vxe-table-tree-node-line-style: dotted;
  --vxe-table-header-font-weight: 700;
  
  /* 慎改 影响虚拟滚动*/
  --vxe-table-row-height-default: 48px;
  --vxe-table-row-height-medium: 44px;
  --vxe-table-row-height-small: 40px;
  --vxe-table-row-height-mini: 36px;
  --vxe-table-row-line-height: 22px;
  --vxe-table-row-hover-background-color: #f5f7fa;
  --vxe-table-row-striped-background-color: #fafafa;
  --vxe-table-row-hover-striped-background-color: #f5f7fa;
  --vxe-table-row-radio-checked-background-color: #fff3e0;
  --vxe-table-row-hover-radio-checked-background-color: #ffebbc;
  --vxe-table-row-checkbox-checked-background-color: #fff3e0;
  --vxe-table-row-hover-checkbox-checked-background-color: #ffebbc;
  --vxe-table-row-current-background-color: #e6f7ff;
  --vxe-table-row-hover-current-background-color: #d7effb;
  --vxe-table-column-padding-default: 13px 0;
  --vxe-table-column-padding-medium: 11px 0;
  --vxe-table-column-padding-small: 9px 0;
  --vxe-table-column-padding-mini: 7px 0;
  --vxe-table-column-hover-background-color: #d7effb;
  --vxe-table-column-current-background-color: #e6f7ff;
  --vxe-table-column-icon-border-color: #c0c4cc;
  --vxe-table-column-icon-border-hover-color: #515a6e;
  --vxe-table-cell-placeholder-color: #c0c4cc;
  --vxe-table-cell-padding-left: 10px;
  --vxe-table-cell-padding-right: 10px;
  --vxe-table-cell-input-height-default: 42px;
  --vxe-table-cell-input-height-medium: 38px;
  --vxe-table-cell-input-height-small: 34px;
  --vxe-table-cell-input-height-mini: 30px;
  --vxe-table-cell-dirty-width: 5px;
  --vxe-table-cell-dirty-minus-width: 5px;
  --vxe-table-cell-dirty-update-color: #f56c6c;
  --vxe-table-cell-dirty-insert-color: #19a15f;
  --vxe-table-cell-area-border-color: var(--vxe-primary-color);
  --vxe-table-cell-area-border-width: 1px;
  --vxe-table-cell-main-area-extension-border-color: #fff;
  --vxe-table-cell-main-area-extension-background-color: var(--vxe-primary-color);
  --vxe-table-cell-extend-area-border-width: 2px;
  --vxe-table-cell-copy-area-border-width: 3px;
  --vxe-table-cell-active-area-border-width: 2px;
  --vxe-table-cell-copy-area-border-color: var(--vxe-table-cell-area-border-color);
  --vxe-table-cell-extend-area-border-color: var(--vxe-table-cell-area-border-color);
  --vxe-table-cell-active-area-border-color: var(--vxe-table-cell-area-border-color);
  --vxe-table-cell-area-background-color: rgba(64, 158, 255, 0.2);
  --vxe-table-checkbox-range-border-width: 1px;
  --vxe-table-checkbox-range-border-color: #006af1;
  --vxe-table-checkbox-range-background-color: rgba(50, 128, 252, 0.2);
  --vxe-table-fixed-left-scrolling-box-shadow: 8px 0px 10px -5px rgba(0, 0, 0, 0.12);
  --vxe-table-fixed-right-scrolling-box-shadow: -8px 0px 10px -5px rgba(0, 0, 0, 0.12);
  --vxe-table-filter-panel-background-color: #fff;
  --vxe-table-menu-item-width: 178px;
  --vxe-table-menu-background-color: #fff;
  
  /*loading*/
  --vxe-loading-color: var(--vxe-primary-color);
  --vxe-loading-background-color: rgba(255, 255, 255, 0.5);
  --vxe-loading-z-index: 999;
  
  /*validate*/
  --vxe-table-validate-error-color: #f56c6c;
  --vxe-table-validate-tooltip-error-color: #fff;
  --vxe-table-validate-tooltip-error-background-color: var(--vxe-table-validate-error-color);
  
  /*grid*/
  --vxe-grid-maximize-background-color: #fff;
  
  /*toolbar*/
  --vxe-toolbar-background-color: #fff;
  --vxe-toolbar-custom-active-background-color: #d9dadb;
  --vxe-toolbar-panel-background-color: #fff;
  
  /*tooltip*/
  --vxe-tooltip-dark-color: #fff;
  --vxe-tooltip-dark-background-color: #303133;
  --vxe-tooltip-light-background-color: #fff;
  --vxe-tooltip-validate-error-color: #fff;
  --vxe-tooltip-validate-error-background-color: #f56c6c;
  
  /*pager*/
  --vxe-pager-background-color: #fff;
  --vxe-pager-perfect-background-color: #fff;
  --vxe-pager-perfect-button-background-color: #f4f4f5;
  
  /*modal*/
  --vxe-modal-header-background-color: #f8f8f8;
  --vxe-modal-body-background-color: #fff;
  --vxe-modal-border-color: #ebeef5;
  
  /*checkbox*/
  --vxe-checkbox-font-size-default: 15px;
  --vxe-checkbox-font-size-medium: 14px;
  --vxe-checkbox-font-size-small: 13px;
  --vxe-checkbox-font-size-mini: 12px;
  --vxe-checkbox-checked-width: 0.32em;
  --vxe-checkbox-checked-height: 0.64em;
  --vxe-checkbox-indeterminate-width: 0.6em;
  --vxe-checkbox-indeterminate-height: 2px;
  --vxe-checkbox-border-width: 2px;
  --vxe-checkbox-border-radius: 2px;
  --vxe-checkbox-icon-background-color: #fff;
  --vxe-checkbox-checked-icon-border-color: #fff;
  --vxe-checkbox-indeterminate-icon-background-color: #fff;
  
  /*radio*/
  --vxe-radio-font-size-default: var(--vxe-checkbox-font-size-default);
  --vxe-radio-font-size-medium: var(--vxe-checkbox-font-size-medium);
  --vxe-radio-font-size-small: var(--vxe-checkbox-font-size-small);
  --vxe-radio-font-size-mini: var(--vxe-checkbox-font-size-mini);
  --vxe-radio-border-width: var(--vxe-checkbox-border-width);
  --vxe-radio-icon-background-color: #fff;
  --vxe-radio-checked-icon-background-color: #fff;
  --vxe-radio-indeterminate-icon-background-color: #fff;
  --vxe-radio-button-default-background-color: #fff;
  
  /*button*/
  --vxe-button-max-width: 500px;
  --vxe-button-default-background-color: #fff;
  --vxe-button-dropdown-panel-background-color: #fff;
  --vxe-button-height-default: 34px;
  --vxe-radio-medium-line-height: 30px;
  --vxe-radio-small-line-height: 28px;
  --vxe-radio-mini-line-height: 26px;
  
  --vxe-button-height-medium: 32px;
  --vxe-button-height-small: 30px;
  --vxe-button-height-mini: 28px;
  
  /*form item input fix*/
  --vxe-input-medium-line-height: 30px;
  --vxe-input-small-line-height: 28px;
  --vxe-input-mini-line-height: 26px;
  --vxe-button-round-border-radius-default: 17px;
  --vxe-button-round-border-radius-medium: 16px;
  --vxe-button-round-border-radius-small: 15px;
  --vxe-button-round-border-radius-mini: 14px;
  
  /*input*/
  --vxe-input-background-color: #fff;
  --vxe-input-panel-background-color: var(--vxe-input-background-color);
  --vxe-input-number-disabled-color: #e4e7ed;
  --vxe-input-date-festival-color: #999999;
  --vxe-input-date-festival-important-color: var(--vxe-primary-color);
  --vxe-input-date-notice-background-color: #ff0000;
  --vxe-input-date-picker-hover-background-color: #f2f6fc;
  --vxe-input-date-picker-selected-color: #fff;
  --vxe-input-date-time-confirm-button-color: #fff;
  --vxe-input-date-picker-festival-selected-color: var(--vxe-input-date-picker-selected-color);
  --vxe-input-date-picker-notice-selected-background-color: var(--vxe-input-date-picker-selected-color);
  --vxe-input-date-extra-color: #67c23a;
  --vxe-input-date-extra-important-color: #fd2222;
  --vxe-input-date-title-height-default: 30px;
  --vxe-input-date-title-height-medium: 29px;
  --vxe-input-date-title-height-small: 28px;
  --vxe-input-date-title-height-mini: 26px;
  --vxe-input-date-time-week-row-height-default: 38px;
  --vxe-input-date-time-week-row-height-medium: 36px;
  --vxe-input-date-time-week-row-height-small: 34px;
  --vxe-input-date-time-week-row-height-mini: 32px;
  --vxe-date-time-picker-body-height-default: 228px+38px;
  --vxe-date-time-picker-body-height-medium: 216px+36px;
  --vxe-date-time-picker-body-height-small: 204px+34px;
  --vxe-date-time-picker-body-height-mini: 192px+32px;
  --vxe-input-date-month-year-row-height-default: 48px;
  --vxe-input-date-month-year-row-height-medium: 46px;
  --vxe-input-date-month-year-row-height-small: 44px;
  --vxe-input-date-month-year-row-height-mini: 42px;
  --vxe-input-date-quarter-row-height-default: 60px;
  --vxe-input-date-quarter-row-height-medium: 58px;
  --vxe-input-date-quarter-row-height-small: 56px;
  --vxe-input-date-quarter-row-height-mini: 54px;
  --vxe-input-height-default: var(--vxe-button-height-default);
  --vxe-input-height-medium: var(--vxe-button-height-medium);
  --vxe-input-height-small: var(--vxe-button-height-small);
  --vxe-input-height-mini: var(--vxe-button-height-mini);
  
  /*textarea*/
  --vxe-textarea-line-height: 1.5715;
  --vxe-textarea-background-color: #fff;
  --vxe-textarea-count-color: #999;
  --vxe-textarea-count-background-color: #fff;
  --vxe-textarea-count-error-color: var(--vxe-table-validate-error-color);
  
  /*form*/
  --vxe-form-item-min-height-default: 36px;
  --vxe-form-item-min-height-medium: 34px;
  --vxe-form-item-min-height-small: 32px;
  --vxe-form-item-min-height-mini: 30px;
  --vxe-form-background-color: #fff;
  --vxe-form-validate-error-color: var(--vxe-table-validate-error-color);
  --vxe-form-validate-error-background-color: inherit;
  
  /*select*/
  --vxe-select-option-height-default: 30px;
  --vxe-select-option-height-medium: 28px;
  --vxe-select-option-height-small: 26px;
  --vxe-select-option-height-mini: 24px;
  --vxe-select-option-hover-background-color: #f5f7fa;
  --vxe-select-panel-background-color: #fff;
  --vxe-select-empty-color: #c0c4cc;
  --vxe-optgroup-title-color: #909399;
  
  /*switch*/
  --vxe-switch-font-color: #fff;
  --vxe-switch-icon-background-color: #fff;
  --vxe-switch-open-background-color: var(--vxe-primary-color);
  --vxe-switch-close-background-color: rgba(0, 0, 0, 0.35);
  --vxe-switch-disabled-background-color: rgba(0, 0, 0, 0.15);
  
  /*pulldown*/
  --vxe-pulldown-panel-background-color: #fff;
}




