/*font-family*/
$vxe-font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
$vxe-font-color: #606266;
$vxe-zindex: 4000;
$vxe-font-size: 14px;
$vxe-font-size-medium: 14px;
$vxe-font-size-small: 13px;
$vxe-font-size-mini: 12px;

/*primary color*/
$vxe-primary-color: #409eff;
$vxe-disabled-color: #B1B1B1;

/*input/radio/checkbox color*/
$vxe-input-border-color: #dcdfe6;
$vxe-input-disabled-color: #f3f3f3;;

/*popup*/
$vxe-table-popup-border-color: #ebeef5;

/*table color*/
$vxe-table-header-background-color: #f8f8f9;
$vxe-table-border-color: #e8eaec;
$vxe-table-resizable-color: #D9DDDF;
$vxe-table-background-color: #ffffff;

/*table row*/
$vxe-table-row-height-default: 48px;
$vxe-table-row-height-medium: 44px;
$vxe-table-row-height-small: 40px;
$vxe-table-row-height-mini: 36px;
$vxe-table-row-line-height: 23px;
$vxe-table-row-striped-background-color: #fafafa;
$vxe-table-row-hover-background-color: #f5f7fa;
$vxe-table-row-current-background-color: #e6f7ff;

/*table column*/
$vxe-table-column-hover-background-color: #d7effb;
$vxe-table-column-current-background-color: #e6f7ff;
$vxe-table-column-icon-border-color: #c0c4cc;
$vxe-table-column-icon-border-hover-color: #515A6E;

/*table cell*/
$vxe-table-cell-dirty-width: 5px;
$vxe-table-cell-dirty-color: #f56c6c;

/*loading*/
$vxe-loading-background-color: rgba(0, 0, 0, 0.2);

/*excel*/
$vxe-excel-font-color: #333;
$vxe-excel-header-background-color: #E6E6E6;
$vxe-excel-header-selected-background-color: #D2D2D2;
$vxe-excel-column-border-width: 2px;
$vxe-excel-column-border-color: #D4D4D4;
$vxe-excel-primary-color: #217346;

/*validate*/
$vxe-table-validate-error-color: #f56c6c;

/*tooltip*/
$vxe-tooltip-dark-background-color: #303133;
$vxe-tooltip-light-background-color: #fff;
