/*font color*/
$vxe-ui-font-color: #606266;
$vxe-ui-font-tinge-color: #d4d5d7;
$vxe-ui-font-lighten-color: #797b80;
$vxe-ui-font-darken-color: #47494c;
$vxe-ui-font-disabled-color: #BFBFBF;

/*font status color*/
$vxe-ui-font-primary-color: #409eff;

/*base*/
$vxe-ui-base-popup-border-color: #DADCE0;
$vxe-ui-base-popup-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);

/*layout*/
$vxe-ui-layout-background-color: #ffffff;

/*input*/
$vxe-ui-input-border-color: #dcdfe6;
$vxe-ui-input-placeholder-color: #C0C4CC;
$vxe-ui-input-disabled-background-color: #f3f3f3;

/*loading*/
$vxe-ui-loading-background-color: rgba(255, 255, 255, 0.5);

/*table*/
$vxe-ui-table-header-background-color: #f8f8f9;
$vxe-ui-table-border-color: #e8eaec;
$vxe-ui-table-row-hover-background-color: #f5f7fa;
$vxe-ui-table-row-striped-background-color: #fafafa;
$vxe-ui-table-row-hover-striped-background-color: #f5f7fa;
$vxe-ui-table-row-radio-checked-background-color: #fff3e0;
$vxe-ui-table-row-hover-radio-checked-background-color: #ffebbc;
$vxe-ui-table-row-checkbox-checked-background-color: #fff3e0;
$vxe-ui-table-row-hover-checkbox-checked-background-color: #ffebbc;
$vxe-ui-table-row-current-background-color: #e6f7ff;
$vxe-ui-table-row-hover-current-background-color: #d7effb;
$vxe-ui-table-fixed-scrolling-box-shadow-color: rgba(0, 0, 0, 0.12);
 