/**Variable**/

.vxe-virtual-tree {
  &.has--tree-line {
    .vxe-body--row {
      &:first-child {
        .vxe-tree--line {
          border-width: 0 0 1px 0;
        }
      }
    }
    .vxe-body--column {
      border-bottom-color: transparent;
    }
  }
}